<li class="show_guides" id="{{guide['guide_id']}}">
<div class="item hproduct">
<div class="sighting-box clearfix">
<h2><a href="/guides/{{guide['slug']}}">{{guide['title']}}</a></h2>

<ul class="guide_details">
  
  <li >Destination: 
  {% for place in guide['dest_place'] %} 
    <span>{{place['dest']}} </span><br>
  {% end %}
  </li>
</ul>
<a href="/guides/{{guide['slug']}}" class="guide_photo">
	<img alt="{{guide['slug']}}" src="{{ static_url("images/site.jpg") }}" class = "picture xlarge">
</a>

</div>
</div>
<div class="action-bar">
<div class="actions">

<div class="right guide_action">

{% if not current_user %}
<input type ="button" class="l_subscribe fancy" sid={{guide['guide_id']}} value="Import" href="#login">
{% else %}
<input type ="button" class="l_subscribe fancy" sid={{guide['guide_id']}} value="Import" href="{{current_user['user_id']}}">
{% end %}
<a href="/like/{{guide['slug']}}">like this</a>
</div>

</div>
</div>
</li>
