<li class="show_guides" id="{{guide['guide_id']}}">
<div class="item hproduct">
<div class="sighting-box clearfix">
<a href="/guides/{{guide['slug']}}"><h2>{{guide['title']}}</h2></a>

<ul class="guide_details">
  
  <li >Sights: <br>
  {% for place in guide['dest_place'] %} 
  <a href="/sights/{{place['dest']}}">
    <span class="guide_sights">{{place['dest']}} </span><br>
  </a>
  {% end %}
  </li>
</ul>
<a href="/guides/{{guide['slug']}}" class="guide_photo">
	<img alt="{{guide['slug']}}" src="{{ static_url("images/site.jpg") }}" class = "picture xlarge">
</a>

</div>
</div>
<div class="action-bar">
<div class="actions">

<div class="right guide_action">

{% if not current_user %}
<input type ="button" class="l_subscribe fancy" sid={{guide['guide_id']}} value="Import" href="#login">
{% else %}
<input type ="button" class="l_subscribe fancy" sid={{guide['guide_id']}} value="Import" href="{{current_user['user_id']}}">
{% end %}
<a href="/like/{{guide['slug']}}">like this</a> \ 
<a href="/save/{{guide['slug']}}">save this</a>
</div>

</div>
</div>
</li>
