
  
/* Z-index of #mask must lower than #boxes .window */  
#mask { 
  position:absolute;  
  z-index:9000;  
background-color:black;  

  display:none;  
  opacity:0.5;
  filter:alpha(opacity=50)

}  
    
#boxes .window {  
  position:absolute;  
  
  display:none;  
  z-index:9999;  
  padding:20px;  
}  
  
  
/* Customize your modal window here, you can add background image too */  
#boxes #dialog {  
  width:375px;   
  height:203px;  
}  
