<li class="feed" data-feedid="">
					<div class="left">
						<img alt="jason huang's Avatar" src="" title="jason huang's Avatar" class="avatar">						<div class="type"></div>
					</div>
					<div class="right">
						<p class="message">
							<a href="#">jason huang</a> updated 11111111111111111111<a href="http://tripshare.interstateapp.com/roadmap/4e5575988927f6ab66001bfd/roads/get/4e5680888927f6a166001d07">TripShare API for iphone</a>'s status					</p>
												<div class="extra">
							<div class="updated_items"><div class="progress"><div class="previous status_symbol status_1"><em></em></div><div class="arrow"></div><div class="new status_symbol status_15"><em></em></div></div></div>						</div>
						<p class="details"><span class="timestamp">10:30pm</span>  · <a class="comment" href="#">Comment</a></p>
						<div class="comments">
						<ul class="comment_list" style="display: none">
								<li class="comment post">
									<form action="#" method="post">
										<div class="FORM-text">
											<div class="area">
												<input type="text" name="commentBody" class="commentBody" placeholder="Post a comment…">
											</div>
										</div>
										<input type="button" class="post-button postcomment" href="#post_comment" value="Post">
									</form>
								</li>
							</ul>
						</div>
					</div>
				</li>