<form name="create_guide" id="create_guide_form" onsubmit="return check_createguide_form(this);">
	 {% raw xsrf_form_html() %}
<div id="create_guide_step_1" >

	
<div class="scrollbar">
	<div class="track"><div class="thumb"><div class="end"></div></div></div></div>
    <div class="viewport">
	<fieldset class="overview">
 <div id="guide_title_slide">
 <h2 style="float:left"> Title </h2>   
 <input name="guide title" class="text destination margin-right-thin" type="text" style="margin-left:90px"></input>  
 </div>
<div id="guide_tag_slide">
  <h2 style="float:left;">Tag</h2>
  <ul onmouseover="guide_tag_add_show(true);" onmouseout="guide_tag_add_show(false);">


<li id="guide_tag_slide_add_show" onclick="guide_tag_add_form_toggle(true); event.stopPropagation(); return false">
</li>
  
<li id="guide_tag_slide_add_form">
   <div id="guide_tag_slide_add_input_exterior" style="position: relative; float: left">
   <div id="guide_tag_slide_add_input_exterior">
   <input type="text" id="guide_slide_tag_add_input" default_value="add tag" tip="add tag" css_size="small" autocomplete="off" class="input_inactive_small">
   </div>
   </div>    
    <a style="margin:3px 0 0 9px; cursor: pointer; float: left; font-weight: bold; color: #428EDA" onclick="guide_tag_add_form_toggle(false); return false">done</a>
</li>
  
  <div style="clear:both"></div>
  
</ul>
 </div>
      
      	<div style="clear:both"></div> 
  <h2 style="margin-left:20px"> Add Destination </h2>
  <fieldset>
<ul class="guide_destinations">
	<div class="guide-row-wrapper">
<li class="lh-tighter place-0-element multihop-row goodbox">
  
  <div class="left c1of5 tright" style="margin-top:2px;">
    <label for="place-0-text">Destination:</label>
  </div>
  <div class="left c2of5 tright">
    <input name="place-0-text" type="text" class="text destination margin-right-thin" value="">
    
  </div>
  <div class="right " style="margin:0 50px 22px 12px;">
    <label>on  
  <select name="day">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="4">5</option>
  <option value="4">6</option>
  </select> day</label>
  </div>

 </li>
<li class="add_another_box">
  <div class="right" style="margin-right:40px;">
  	<a class="add_another_destination" href="#" >Add another destination on this guide</a>
 </div>

 </li>
</div>
 </ul>
</fieldset>
</fieldset>
</div>
<div class="button_container">
    <input type="submit" href="#create_guide_finish" name="create_guide_finish" value="Publish" style="width:180px;margin-right:10px" class="sidebar-auth-button">
</div>    
        	<a href="#" id="closeguide-modal" class="close">close</a>       
</div>
<div id="mask4"></div>