<form name="create_guide" id="create_guide_form" onsubmit="return check_createguide_form(this);">
	 {% raw xsrf_form_html() %}
<div id="create_guide_step_1" class="window1">
	<a href="#" id="closeguide-modal" class="close">close</a>
    <fieldset>
                  
  <h2> Add Destination </h2>
  <fieldset>
<ul>
 </ul>
                </fieldset>
                </fieldset>
				<div class="button_container">
                   <input type="submit" href="#create_guide_finish" name="create_guide_finish" value="Publish" style="width:180px;margin-right:10px" class="sidebar-auth-button">
                </div>    
               
</div>