	<div id="social_tools" class="window1">
		<a href="#" id="social-close-modal" class="close">close</a>
		<ul class="soical_list">
			<li class="facebook-tab on"><a href="#" onclick="set_section('facebook'); return false;"><strong>Facebook</strong></a></li>
			<li class="twitter-tab"><a href="#" onclick="set_section('twitter'); return false;"><strong>Twitter</strong></a></li>
			<li class="invite-tab"><a href="#" onclick="set_section('invite'); return false;"><strong>Invite</strong></a></li>
		</ul>
		{% if current_user %}
		   <div id = "content_facebook">
	           <form accept-charset="UTF-8" action="/post_on_facebook" id="facebook_friends_form" class="default" method="post">
                 {% raw xsrf_form_html() %}

                 <div class="row cleafix">
                 <div class="text-box text-area-box">
                 <textarea name="invite_text">Try TripShare here: http://tripshare.cc/people/{{current_user['slug']}}</textarea>
                 </div>
                 </div>
                 <input class="submit" name="commit" type="submit" value="Post to your wall">
               </form>
			 </div>
			 <div id = "content_twitter">
			   <form accept-charset="UTF-8" action="/post_on_twitter" id="twitter_friends_form" class="default" method="post">
			    {% raw xsrf_form_html() %}
			     <div class="row cleafix">
                 <div class="text-box text-area-box">
                 <textarea name="invite_text">Try TripShare here: http://tripshare.cc/people/{{current_user['slug']}}</textarea>
                 </div>
                 </div>
                 <input class="submit" name="commit" type="submit" value="Tweet">
			    </form>
			 </div>
			    {% else %}
			   <a id="login_facebook" href="/auth/fblogin"></a>
			   <a id="login_twitter"  href="/auth/twlogin"></a>
			    {% end %}
			  <div id = "content_invite">
			   <form accept-charset="UTF-8" action="/send_invite" id="invite_friends_form" class="default" method="post">
	            {% raw xsrf_form_html() %}
				 <div class="row cleafix">
                 <div class="text-box text-area-box">
                 <textarea name="invite_text">Try TripShare here: http://tripshare.cc/people/{{current_user['slug']}}</textarea>
                 </div>
                 </div>
                 <input class="submit" name="commit" type="submit" value="Mail">
               </form>
			   </div>
		</div>
	</div>
	
