
<div id="footer">

<div class="inset">

<a href="/about_us">About us</a>
<small class="divider">·</small>
<a href="/iphone">iPhone</a>
<small class="divider">·</small>
<a href="/api">API</a>
<small class="divider">·</small>
<a href="/about/terms">Terms</a>
<small class="divider">·</small>
<a href="/about/privacy">Privacy</a>
<small class="divider">·</small>
<a href="http://twitter.com/TripSharer">Twitter</a>
<small class="divider">·</small>
<a href="http://www.facebook.com/pages/TripShare/195375667149458">Facebook</a>
</div>

</div> 