<li class="show_guides" id="{{guide['guide_id']}}">
<div class="item hproduct">
<div class="sighting-box clearfix">
<h2><a href="/guide/{{guide['slug']}}">{{guide['title']}}</a></h2>

<ul class="guide_details">
  
  <li >Destination: 
  {% for place in guide['dest_place'] %} 
    <span>{{place['text']}} </span><br>
  {% end %}
  </li>
</ul>

<a href="/guide/{{guide['slug']}}" class="photo">
	<img alt="{{guide['slug']}}" src="{{ static_url("images/site.jpg") }}">
</a>
</div>
</div>
<div class="action-bar">
<div class="actions">
<div class="subscribers">
<img alt="subscribers" class="subscribers" src="{{ static_url("images/people.png") }}">
<a href="showsubscribers" class="subscriber_count">{{ len(guide['subscribers']) }}</a>
{% for subscriber in guide['subscribers'] %} 
  <a href="/people/{{subscriber['slug']}}" class = "avatar" alt="{{subscriber['user_id']}}"><img alt="{{subscriber['username']}}" src={{subscriber['picture']}}></a>
{% end %}

</div>
<div class="right">

{% if not current_user %}
<input type ="button" class="l_subscribe fancy" sid={{guide['guide_id']}} value="Import" href="#login">
{% else %}
<input type ="button" class="l_subscribe fancy" sid={{guide['guide_id']}} value="Import" href="{{current_user['user_id']}}">
{% end %}
<a href="/like/{{guide['slug']}}">like this</a> / 
<a href="/places/{{guide['start_place']}}">You have been there</a>
</div>

</div>
</div>
</li>
