{% if 'feeds' in guide %}
{% for feed in guide['feeds'] %}
<li class="feed item left" data-feedid="{{feed['feed_id']}}">
					<div class="left">
						<img alt="{{feed['from']['username']}}" src="{{feed['from']['picture']}}" title="{{feed['from']['username']}}" class="picture medium"><div class="type"></div>
					</div>
					<div class="right">
						
						<p class="message">
							{{feed['body']}}
						</p>
						<p class="details">
							<span class="timestamp">{{feed['date']}}</span>  · <a class="comment" href="#">Comment</a>
						</p>
						<div class="comments">
						<ul class="comment_list" style="display: none">
							{% if 'comments' in feed %}
							{% for comment in feed['comments'] %}
							<li class="comment item" data-commentid="{{comment['comment_id']}}">
								    <a href="#">
								    	<img alt="{{comment['from']['username']}}" src="{{comment['from']['picture']}}" title="{{comment['from']['username']}}" class="picture medium">
									</a>
									<div class="body">
										<p class="message"><a class="name" href="">{{comment['from']['username']}}</a> {{comment['from']['body']}}</p>
										<p class="timestamp">{{comment['date']}}<a class="remove_comment" href="#">Delete</a></p>
									</div>
							</li>
							{% end %}
							{% end %}
								<li class="comment post">
									<form action="#" method="post">
										{% raw xsrf_form_html() %}
										<div class="FORM-text">
											<div class="area">
												<input type="text" name="commentBody" class="commentBody" placeholder="Post a comment…">
											</div>
										</div>
										<input type="button" class="post-comment-button postcomment" href="#post_comment" value="Post">
									</form>
								</li>
							</ul>
						</div>
					</div>
				</li>
	{% end %}
	{% end %}