<form name="merge_group_form" id="merge_group_form" onsubmit="return check_mergegroup_form(this);">
	 {% raw xsrf_form_html() %}
<div id="merge_group_step_1" class="window1">
	<a href="#" id="closemergegroup-modal" class="close">close</a>
<object type="application/x-shockwave-flash" data="/media/flash/circleview.swf" width="100%" height="100%" id="circleviewer" style="visibility: visible; ">
<param name="allowscriptaccess" value="always">
<param name="wmode" value="transparent">
</object>
                <div class="button_container">
                <a name="mergegroup" value="Merge" style="width:180px;margin-right:10px" class="sidebar-auth-button">Merge</a>
				</div>
</div>
</form>  
<div id="mask4"></div>