<ul class="list people">
{% for user in users %}
<li class="person clearfix">
<div class="actions right">
<a class="follow-button primary-background-color" href="#" rel="nofollow">Follow</a>

</div>
<a href="/people/{{user['slug']}}" class="avatar"><img class="picture medium" src="{{user['picture']}}"></a>
<div class="details">
<div class="hsubgroup">
<strong><a href="/people/{{user['slug']}}">{{user['username']}}</a></strong>
<span>
·
<span class="city">{{user['current_location']}}</span>
</span>
</div>
<div class="bio">
<p>{{user['bio']}}</p>
</div>
{{len(user['trips'])}} trips
</div>
</li>
{%end%}
</ul>