<div class='sidebar vcard'> 
<div id="xri">
<a href="/addfriend/{{user['user_id']}}" name="focus" class="xf xbj">Add friend</a>
<a class="xe" title="Send Message" target="_blank" href="/inbox/{{user['user_id']}}"><span class="xi"></span></a>
</div>

<div class="pod sidebar-counts clearfix">
<table>
<tbody><tr>
<td>
<div class="inset">
<strong class="primary-text-color">0</strong>
city have been
</div>
</td>
<td class="last">
<div class="inset">
<strong class="primary-text-color">2</strong>
trips created
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="pod cpod">
<div id="dashboard-profile">
<a href="http://tripshare.s3.amazonaws.com/userpix_thumbs/4e8e5bf21288e80a10000000t_hero.png" class="avatar" target="_blank"><img class="picture medium" src="http://tripshare.s3.amazonaws.com/userpix_thumbs/4e8e5bf21288e80a10000000t_hero.png"></a>
<div class="details">
<strong class="fn">steven</strong>
<div class="url" rel="me nofollow"><a href="/people/notifications" target="_blank" title=""></a></div>
<small style="white-space:nowrap">

</small>
</div>
</div>
<h2>
<small class="right">
<a href="/settings">Edit Profile and Settings</a>
</small>
About
</h2>
<dl class="dlist" style="margin-bottom:0">
<dt>Location:</dt>
<dd class="adr">New york</dd>
</dl>
</div>
<div class="pod cpod">
<h2>Friends</h2>
<dl class="dlist pod clearfix" style="margin-bottom:0">
<dd class="following-avatar-list clearfix">
</dd>
</dl>
</div>
</div> 