{% if current_user %}
<div id="mini-profile">

<ul class="xgt">	
<li class="xft"  id="xdt">
	<a href="/people/{{current_user['slug']}}" class="xet xct">
	<img class="picture small xbt" src="{{current_user['picture']}}">
	<span class="xat">{{current_user['username']}}</span>
</a>
<li class="xft"><a class="xet xxs l_editprofile" href="#setting" name="usersetting">Setting</a>
<li class="xft"><a class="xet xzt" href="/notifications">Notifications</a>
<li class="xft"><a class="xet xyt" href="/messages">Messages</a>
<li class="xft"><a class="xet xws" href="/auth/logout">Log out</a>
</ul>

</div>	
{% else %}
<div class="logged-out-actions">

Welcome
<a href="#modal-content" name="modal" class="signin_modal">Join</a>
</strong>
or
<strong>
<a href="#login" name="modal2" class="login_modal">Log in</a>
</strong>
<span id="connect-button" style="margin-left: 20px"></span>

{% end %}
</div>

<div id="boxes">  
    <!-- #customize your modal window here -->  
 
 <div id="modal-content" class="window" >
 <div id="modal-head">
 <a href="#" id="close-signup" class="close">close</a>
 <a id="fb_connect_pop" href="/auth/fblogin" ></a>
<ul id="modal-tabs">
<li>
<a href="#login" name="modal2" class="login_modal">Log in</a>
</li>
</ul>
<h1>
Join TripShare
</h1>
</div>
<form name="signup_form" accept-charset="UTF-8" class="user-form" id="new_person" action="/account/create" method="post" onsubmit="return checkform(this);">
<div style="margin:0;padding:0;display:inline">
	<input name="utf8" type="hidden" value="✓">
	<input name="authenticity_token" type="hidden" value="z4uwbpArKKyEj43F24XSFITmMLQ58ujj02kIknVtaYo=">
	</div>
<div id="modal-body">
 {% raw xsrf_form_html() %}  
<div id="modal-errors" style="display:none"></div>
<ul>
<li class="row">
<div class="text-box">
<label class="prompted" for="username">Display Name</label>
<input class="text" id="username" name="username" size="30" type="text">
<label class="error" for="name" id="name_error">This field is required.</label>  
</div>
</li>
<li class="row">
<div class="text-box">
<label class="prompted" for="email">Email</label>
<input class="text" id="email" name="email" size="30" type="text">
<label class="error" for="email" id="email_error">This field is required.</label> 
</div>
</li>
<li class="row last">
<div class="text-box small">
<label class="prompted" for="password">Password</label>
<input class="text" id="password" name="password" size="30" type="password">
<label class="error" for="password" id="password_error">This field is required.</label>
</div>
<div class="text-box small">
<label class="prompted" for="confirm_password">Retype Password</label>
<input class="text" id="confirm_password" name="confirm_password" size="30" type="password">
</div>
</li>
</ul>
</div>
<div id="modal-footer">
<div id="signup-terms">
By signing up you agree to our
<a href="/about/terms" target="_blank">Terms of Service</a>
and
<a href="/about/privacy" target="_blank">Privacy Policy</a>.
</div>
<div><input id="goal" name="goal" type="hidden" value="{:value=&gt;nil}"></div>
<input class="submit" id="person_submit" name="commit" type="submit" value="I Agree, sign me up!">
<span class="other-option" style="padding-left: 5px">
Or,
<a href="#login" name="modal2" class="login_modal">Log in</a>
</span>
</div>
</form>

</div>

  
      
    <!-- Do not remove div#mask, because you'll need it to fill the whole screen -->    
<div id="mask"></div>  
  

    <!-- #customize your modal window here -->  
  
 <div id="login" class="window">  
 <a href="#" id="close-login" class="close">close</a>
 <div style="width:350px; padding-left:5px; padding-right:5px; padding-top:5px" class="createform">
 </div><br>
<ul id="modal-tabs">
<li>
<a href="#modal-content" name="modal" class="signin_modal">Join</a>
</li>
<li>
<a href="#login">Log in</a>
</li>
</ul>
	    
<form name="login_form" action="/account/login" method="post" onsubmit="return checkform(this);">
	{% raw xsrf_form_html() %}
<table class="form">
<tbody>
<tr>
<td class="label">Email</td>
<td class="value"><input name="email" id="email" type="text" size="25" value=""></td>
</tr>
<tr>
<td class="label">Password</td>
<td class="value"><input name="password" id="password" type="password" size="25"></td>
</tr>
<tr>
<td>&nbsp;</td>
<td class="buttons">
<input type="submit" value="Log in" style="font-weight:bold">



</td>
</tr>
</tbody></table>
</form> 
</div>  
  
      
    <!-- Do not remove div#mask, because you'll need it to fill the whole screen -->    
<div id="mask2"></div> 
</div>


</div> 
 </div> 
 
