<div class="walkthrough">
	<div class="walkthrough-body">
  <ul>
    <li class="createtrip">
      <a href="http://help.github.com/set-up-git-redirect" target="_blank">
        <div class="image"></div>
        <div class="desc">
          <h2>Create A Trip Plan</h2>
          <p>The trip can be based on hundreds of Guides or you create one yourself.</p>
        </div>
        <span class="step-number one"></span>
      </a>
    </li>
    <li class="importguide">
      <a href="http://help.github.com/create-a-repo" target="_blank">
        <div class="image"></div>
        <div class="desc">
          <h2>Share it with group members</h2>
          <p>Group members can view and edit the itenerary under your invitation. </p>
        </div>
        <span class="step-number two"></span>
      </a>
    </li>
    <li class="fork-a-repo">
      <a href="http://help.github.com/fork-a-repo" target="_blank">
        <div class="image"></div>
        <div class="desc">
          <h2>Manage your itenerary and budget with group member</h2>
          <p>You can easily manage your trip plan with agency on TripShare</p>
        </div>
        <span class="step-number three"></span>
      </a>
    </li>
    <li class="be-social">
      <a href="http://help.github.com/be-social" target="_blank">
        <div class="image"></div>
        <div class="desc">
          <h2>Share the Trip</h2>
          <p>Other travelers may like your plan and follow you.</p>
        </div>
        <span class="step-number four"></span>
      </a>
    </li>
  </ul>
  </div>
</div>

