<div class="walkthrough">
	<div class="walkthrough-body">
  <ul>
    <li class="createtrip">
      <a href="http://help.github.com/set-up-git-redirect" target="_blank">
        <div class="image"></div>
        <div class="desc">
          <h2>Create A Plan</h2>
          
        </div>
        <span class="step-number one"></span>
      </a>
    </li>
    <li class="importguide">
      <a href="http://help.github.com/create-a-repo" target="_blank">
        <div class="image"></div>
        <div class="desc">
          <h2>Import A Guide</h2>
          
        </div>
        <span class="step-number two"></span>
      </a>
    </li>
    <li class="fork-a-repo">
      <a href="http://help.github.com/fork-a-repo" target="_blank">
        <div class="image"></div>
        <div class="desc">
          <h2>Send it to Agency</h2>
          <p>Review your plan and send it to agency</p>
        </div>
        <span class="step-number three"></span>
      </a>
    </li>
    <li class="be-social">
      <a href="http://help.github.com/be-social" target="_blank">
        <div class="image"></div>
        <div class="desc">
          <h2>Be social</h2>
          <p>Find a travler like you.</p>
        </div>
        <span class="step-number four"></span>
      </a>
    </li>
  </ul>
  </div>
</div>
<div class="agency">
</div>