<div class="walkthrough">
	<div class="walkthrough-body">
  <ul>
    <li class="createtrip">
      
        <div class="image"></div>
        <div class="desc">
          <h2>Create A Trip Plan</h2>
          <p>The trip can be based on hundreds of Guides or you create one yourself.</p>
        </div>
        <span class="step-number one"></span>
      </a>
    </li>
    <li class="importguide">
      
        <div class="image"></div>
        <div class="desc">
          <h2>Share it with group members</h2>
          <p>Group members can view and edit the itenerary under your invitation. </p>
        </div>
        <span class="step-number two"></span>
      </a>
    </li>
    <li class="fork-a-repo">
      
        <div class="image"></div>
        <div class="desc">
          <h2>Manage your itenerary and budget with group member</h2>
          <p>Collect and transfer travel expense in variuos ways, you can use the money to book hotel and airline directly</p>
        </div>
        <span class="step-number three"></span>
      </a>
    </li>
    <li class="be-social">
      
        <div class="image"></div>
        <div class="desc">
          <h2>Trip calendar management</h2>
          <p>Export the trip calendar to your personal calendar and setup notification for events</p>
        </div>
        <span class="step-number four"></span>
      </a>
    </li>
  </ul>
  </div>
</div>

