
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:addthis="http://www.addthis.com/help/api-spec" xml:lang="en" lang="en"> 
  <head> 
  	<title>        
        Spotted | TripShare's Field Guide
    </title> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
    <meta name="description" content="TripShare is a visual guide to good food and where to find it. It's the easiest way to find and share the foods you love."> 
    <meta name="keywords" content="dishes, dish, food, reviews, food photos, restaurants, dining, guide, food spotting, menu, local"> 
  
<link rel="stylesheet" href="{{ static_url("stylesheets/base_packaged.css") }}" type="text/css" media="screen"/>  
<link rel="stylesheet" href="{{ static_url("stylesheets/nano.css") }}" type="text/css"/> 
<script src="{{ static_url("javascript/loginpopup.js") }}" type="text/javascript"></script>

      
  	<!--[if lte IE 8]> 
      <link href="/stylesheets/iex.css?1305156180" media="all" rel="stylesheet" type="text/css" />
    <![endif]--> 
 
  	<!--[if lte IE 6]> 
      <link href="/stylesheets/ie6.css?1305156180" media="all" rel="stylesheet" type="text/css" />
    <![endif]-->	
  </head> 
      
  <body> 
    <div id='modal' style='display:none'> 
<div class='small' id='modal-facebox'> 
<a href="#" id="close-modal" onclick="FS.clear_modal(); return false;">close</a> 
<div id='modal-content'></div> 
</div> 
<div id='modal-screen'></div> 
</div> 
 
    <div id='wrapper' class='clearfix'> 
      <div id='tooltip' style='display:none'> 
<div class='content'></div> 
<div class='pointer'></div> 
</div> 
 
      <div id='header'> 
  <div class='clearfix' id='nav-bar'> 
<div class='content'> 
 

 
 {% include "Module/headline.html" %}
 
 {% include "Module/userentry.html" %}
 
 {% include "Module/usersetting.html" %}
 
  <div id='flash_notice' style='display:none'> 
<div></div> 
</div> 
</div>  
      
      <div class='blog-header' id='partner-header'> 
<div class='inset'> 
<div class='content'> 
<div class='clearfix'> 
<div id='blog-subscribe'> 
<strong>Subscribe:</strong> 
<a href="http://feeds.feedburner.com/TripShare" rel="alternate" type="application/rss+xml"><img src="http://www.feedburner.com/fb/images/pub/feed-icon16x16.png" alt="" style="vertical-align:middle;border:0"/></a> 
<a href="http://twitter.com/TripShare" class="twitter"><img alt="Clear" src="/images/clear.png?1305156180" /></a> 
<a href="http://facebook.com/TripShare" class="facebook"><img alt="Clear" src="/images/clear.png?1305156180" /></a> 
<a href="http://foursquare.com/TripShare" class="foursquare"><img alt="Clear" src="/images/clear.png?1305156180" /></a> 
</div> 
<span class='blog-title'><a href="/blog">Spotted</a></span> 
<span class='blog-subtitle'>TripShare's Field Guide</span> 
<br> 
<div class='clearfix'> 
<ul id='blog-categories'> 
<li class="on"><a href="/blog">All</a></li> 
<li class=""><a href="/blog?category=What%27s+New">What's New</a></li> 
<li class=""><a href="/blog?category=Spottertunities">Spottertunities</a></li> 
<li class=""><a href="/blog?category=A+to+Z">A to Z</a></li> 
<li class=""><a href="/blog?category=How+To">How To</a></li> 
<li class=""><a href="/blog?category=Spotlight">Spotlight</a></li> 
<li class=""><a href="/blog?category=Tomayto%2C+Tomahto">Tomayto, Tomahto</a></li> 
<li class=""><a href="/blog?category=FS+101">FS 101</a></li> 
</ul> 
</div> 
</div> 
</div> 
</div> 
</div> 
 
 
      <div id='container' class='clearfix'> 
        <a href="#" id="back_to_map" onclick="FS.hide_back_to_map();; return false;" style="display:none">Take me Back To The Map!</a> 
            
        <div id='content' class='clearfix'> 
          
<div class='sidebar'> 
<div class='pod'> 
<h2>Meet the team!</h2> 
<iframe src="http://player.vimeo.com/video/15519116?title=0&amp;byline=0&amp;portrait=0" width="300" height="225" frameborder="0"></iframe> 
 
</div> 
<div class='pod'> 
<h2></h2> 
<iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2FTripShare&amp;width=300&amp;connections=10&amp;stream=false&amp;header=false&amp;height=260" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:260px;" allowTransparency="true"></iframe> 
 
</div> 
<div class='pod'> 
<h2>Where's Spot?</h2> 
<iframe allowTransparency='true' frameborder='0' scrolling='no' src='http://www.TripShare.com/widgets/sightings?background=f7f6f1&amp;amp;border=f7f6f1&amp;amp;border_radius=5&amp;amp;height=362&amp;amp;id=66810&amp;amp;order=best&amp;amp;page=1&amp;amp;query=&amp;amp;size=medium&amp;amp;type=person&amp;amp;width=302&amp;amp;x=2&amp;amp;y=2' style='border:none; overflow:hidden; width:302px; height: 362px'></iframe> 
</div> 
<div class='pod cpod'> 
<h2>Authors</h2> 
<ul class='author-list'> 
<li class='clearfix'> 
<a href="/blog?author=28422" class="avatar"><img alt="Small_thumb" src="http://s3.amazonaws.com/TripShare-ec2/people/28422/small_thumb.jpg?1301038878" /></a> 
<div class='author-details'> 
<a href="/blog?author=28422">Amy Cao</a> 
<br> 
82 Posts
</div> 
</li> 
<li class='clearfix'> 
<a href="/blog?author=14183" class="avatar"><img alt="Small_thumb" src="http://s3.amazonaws.com/TripShare-ec2/people/14183/small_thumb.jpg?1287111600" /></a> 
<div class='author-details'> 
<a href="/blog?author=14183">Fiona Tang</a> 
<br> 
44 Posts
</div> 
</li> 
<li class='clearfix'> 
<a href="/blog?author=1577" class="avatar"><img alt="Small_thumb" src="http://s3.amazonaws.com/TripShare-ec2/people/1577/small_thumb.jpg?1277983060" /></a> 
<div class='author-details'> 
<a href="/blog?author=1577">Soraya Darabi</a> 
<br> 
1 Post
</div> 
</li> 
<li class='clearfix'> 
<a href="/blog?author=9" class="avatar"><img alt="Small_thumb" src="http://s3.amazonaws.com/TripShare-ec2/people/9/small_thumb.png?1258172648" /></a> 
<div class='author-details'> 
<a href="/blog?author=9">Alexa Andrzejewski</a> 
<br> 
9 Posts
</div> 
</li> 
<li class='clearfix'> 
<a href="/blog?author=8" class="avatar"><img alt="Small_thumb" src="http://s3.amazonaws.com/TripShare-ec2/people/8/small_thumb.jpg?1292297402" /></a> 
<div class='author-details'> 
<a href="/blog?author=8">Ted Grubb</a> 
<br> 
1 Post
</div> 
</li> 
</ul> 
</div> 
 
 
</div> 
<div class='main'> 
<ul class='blog list'> 
<li class='entry clearfix' id='post-168'> 
<div class='content-box clearfix'> 
<div class='clearfix'> 
<div class='spotted-by'> 
<a href="/blog?category=Spotlight" class="label">Spotlight</a> 
</div> 
</div> 
<h2 class='title'><a href="http://www.TripShare.com/blog/posts/168-spot-to-win-with-visitphilly-com" rel="permalink">Spot to Win with VisitPhilly.com</a></h2> 
<div class='post-body'> 
<p><a href="http://www.TripShare.com/visitphilly" target="_blank"><img src="http://s3.amazonaws.com/TripShare-ec2/blog_images/345/original.jpg?1305079736" /></a></p> 
 
<p>For those of you who don't know, one of our lovely co-founders, <a href="http://www.TripShare.com/ted" target="_blank">Ted Grubb</a>, is a Philadelphia native. Because of that, we're especially excited to welcome <strong><a href="http://www.visitphilly.com" target="_blank">VisitPhilly.com</a></strong> to TripShare.</p> 
 
<p>According to Ted, this is proud moment for him. Not only does he have the support of his hometown, but what better way than TripShare to showcase Philadelphia’s culinary treasures beyond just the typical cheesesteak?</p> 
 
<p>Visit Philly is starting things off right by hosting a fun contest to reward TripShares who spot all <strong>6</strong> items on its <strong><a href="http://www.TripShare.com/guides/1711-famous-philly-flavors" target="_blank">Famous Philly Flavors</a></strong> guide.</p> 
 
<p>Of all the people who complete the guide, <strong>10</strong> will be randomly selected to win a <em>Flavors of Philly food tour</em> by <a href="http://www.cityfoodtours.com/philadelphia/philly-food-tours-general-info.cfm" target="_blank">City Food Tours</a>. Then one randomly selected Grand Prize Winner who completes the guide on TripShare will win an overnight stay at a luxury hotel in Philadelphia, a <em>Flavors of Philly food tour</em> by <a href="http://www.cityfoodtours.com/philadelphia/philly-food-tours-general-info.cfm" target="_blank">City Food Tours</a> for two, and a $100 gift card to <a href="http://www.grg-mgmt.com/" target="_blank">Garces Restaurant Group</a>. 
 
<p>Quick, you only have through <strong>May 25th 5:00 p.m. ET</strong> to complete the task! Follow Visit Philly <a href="http://www.TripShare.com/visitphilly" target="_blank"><strong>here</strong></a>, and for official rules, please see Visit Philly's blog <a href="http://www.uwishunu.com/2011/05/introducing-visit-phillys-new-TripShare-program-complete-with-custom-philly-food-guides-and-a-bonus-packed-kick-off-contest/" target="_blank">uwishunu.com</a>. Happy spotting! 
</div> 
<div class='meta clearfix'> 
<a href="/people/fiona" class="avatar"><img alt="Small_thumb" src="http://s3.amazonaws.com/TripShare-ec2/people/14183/small_thumb.jpg?1287111600" /></a> 
<div class='post-data'> 
Posted by
<a href="/fiona" class="creator">Fiona Tang</a> 
in
<a href="/blog?category=Spotlight">Spotlight</a> 
</div> 
on
<a href="http://www.TripShare.com/blog/posts/168-spot-to-win-with-visitphilly-com" class="timestamp" rel="permalink">May 11, 2011</a> 
</div> 
</div> 
<div class='action-bar'> 
<div class='actions'> 

 
</div> 
</div> 
<ul class='reviews list'> 
<li class='review last clearfix'> 
<div class='comments-container full'> 
<div class='comments' id='comments_blog_post_168'> 
</div> 
<form accept-charset="UTF-8" action="/blog/comments" class="new-comment default" id="comment_form_blog_post_168" method="post" onsubmit="if (!$F('comment_text_blog_post_168').blank()) { new Ajax.Request('/blog/comments', {asynchronous:true, evalScripts:true, parameters:Form.serialize(this)}); }; return false;"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="YZYY2UMoh6HdZKkSFNVQrn5g80hD7RI/ZD2zLo4+btI=" /></div> 
<div> 
<input id="blog_post_id" name="blog_post_id" type="hidden" value="168" /> 
</div> 
<div class='row clearfix' style='margin-bottom:0'> 
<div class='avatar'> 
<img alt="Missing" src="/avatars/small_thumb/missing.png?1305156177" /> 
</div> 
<div class='text-box'> 
<textarea class="text" cols="30" id="comment_text_blog_post_168" name="text" onblur="FS.blur_comment_box('blog_post_168')" onfocus="FS.focus_comment_box('blog_post_168')" rows="2"></textarea> 
</div> 
</div> 
<input class="perfect-blue" id="comment_submit_blog_post_168" name="commit" onclick="FS.authenticate($('comment_form_blog_post_168').onsubmit.bind('comment_form_blog_post_168'), 'to comment on this post', 'comment'); return false" style="display:none" type="submit" value="Post your comment" /> 
</form> 
 
</div> 
</li> 
</ul> 
</li> 
<li class='entry clearfix' id='post-169'> 
<div class='content-box clearfix'> 
<div class='clearfix'> 
<div class='spotted-by'> 
<a href="/blog?category=Spottertunities" class="label">Spottertunities</a> 
</div> 
</div> 
<h2 class='title'><a href="http://www.TripShare.com/blog/posts/169-spot-foods-on-sticks-to-win" rel="permalink">Spot Foods on Sticks to Win!</a></h2> 
<div class='post-body'> 
<p align=center><img src="http://s3.amazonaws.com/TripShare-ec2/blog_images/346/original.jpg?1305125576" /></p><p>Some call it food photography, others go so far as to call it porn. Whether it makes you lick your lips or green with envy, it's clear that even the most casual food photography elicits a visceral reaction. You may have been hungry before, but the best food photos really get you going - into kitchens, into restaurants, you name it. Take it from us: <strong>pictures are the deal breaker when it comes to deciding what to eat.</strong></p> 
<p>In this spirit, we're celebrating the release of <strong>On A Stick</strong>&nbsp;by California-based food photographer and beloved food blogger <strong><a target="_blank" href="http://mattbites.com/">Matt Armendariz</a></strong>! You gotta see some of these recipes to believe em: chicken and waffles on a stick, fried popcorn balls on a stick, skewered fruit, skewered meat, and, of course, traditional impaled appetizers grace the pages.</p> 
<p>The book is available on <a target="_blank" href="http://www.amazon.com/Stick-Matt-Armendariz/dp/1594744890">Amazon</a>, but thanks to <a target="_blank" href="http://irreference.com/">Quirk Books</a>, we're also giving away ten copies to TripShares who spot foods on sticks! To enter, use <strong><a target="_blank" href="http://www.TripShare.com/">TripShare</a></strong> to share photos of skewered foods you order at restaurants or find at food stores.&nbsp;<strong>Make sure to include the tag <em>#onastick</em> in the Notes section so we can count your entry! </strong></p> 
<p>Ten lucky winners will be selected randomly on Friday, May 20th. Good luck and go forth, TripShare peeps.</p><p><i>Giveaway open to U.S. and Canada residents only.</i> 
</div> 
<div class='meta clearfix'> 
<a href="/people/amy" class="avatar"><img alt="Small_thumb" src="http://s3.amazonaws.com/TripShare-ec2/people/28422/small_thumb.jpg?1301038878" /></a> 
<div class='post-data'> 
Posted by
<a href="/amy" class="creator">Amy Cao</a> 
in
<a href="/blog?category=Spottertunities">Spottertunities</a> 
</div> 
on
<a href="http://www.TripShare.com/blog/posts/169-spot-foods-on-sticks-to-win" class="timestamp" rel="permalink">May 11, 2011</a> 
</div> 
</div> 
<div class='action-bar'> 
<div class='actions'> 
<!-- AddThis Button BEGIN --> 

<!-- AddThis Button END --> 
 
</div> 
</div> 
<ul class='reviews list'> 
<li class='review last clearfix'> 
<div class='comments-container full'> 
<div class='comments' id='comments_blog_post_169'> 
<div class='clearfix' id='blog_comment_790' style=''> 
<a href="/people/nomnomboris" class="avatar"><img alt="Small_thumb" src="http://s3.amazonaws.com/TripShare-ec2/people/88176/small_thumb.jpg?1289501180" /></a> 
<div class='comment'> 
<div class='body'> 
<a href="/people/nomnomboris">nomnomboris</a> 
very cool! I will have to look for some fun foodies on a stick :)
</div> 
<span class='timestamp'> 
about 10 hours
ago.
</span> 
</div> 
</div> 
 
</div> 
<form accept-charset="UTF-8" action="/blog/comments" class="new-comment default" id="comment_form_blog_post_169" method="post" onsubmit="if (!$F('comment_text_blog_post_169').blank()) { new Ajax.Request('/blog/comments', {asynchronous:true, evalScripts:true, parameters:Form.serialize(this)}); }; return false;"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="YZYY2UMoh6HdZKkSFNVQrn5g80hD7RI/ZD2zLo4+btI=" /></div> 
<div> 
<input id="blog_post_id" name="blog_post_id" type="hidden" value="169" /> 
</div> 
<div class='row clearfix' style='margin-bottom:0'> 
<div class='avatar'> 
<img alt="Missing" src="/avatars/small_thumb/missing.png?1305156177" /> 
</div> 
<div class='text-box'> 
<textarea class="text" cols="30" id="comment_text_blog_post_169" name="text" onblur="FS.blur_comment_box('blog_post_169')" onfocus="FS.focus_comment_box('blog_post_169')" rows="2"></textarea> 
</div> 
</div> 
<input class="perfect-blue" id="comment_submit_blog_post_169" name="commit" onclick="FS.authenticate($('comment_form_blog_post_169').onsubmit.bind('comment_form_blog_post_169'), 'to comment on this post', 'comment'); return false" style="display:none" type="submit" value="Post your comment" /> 
</form> 
 
</div> 
</li> 
</ul> 
</li> 
<li class='entry clearfix' id='post-165'> 
<div class='content-box clearfix'> 
<div class='clearfix'> 
<div class='spotted-by'> 
<a href="/blog?category=Spotlight" class="label">Spotlight</a> 
</div> 
</div> 
<h2 class='title'><a href="http://www.TripShare.com/blog/posts/165-spotted-at-james-beard-foundation-awards" rel="permalink">Spotted at James Beard Foundation Awards</a></h2> 
<div class='post-body'> 
<p>Every year the <strong><a href="http://TripShare.com/beardfoundation" target="_blank">James Beard Foundation</strong></a> crowns the best in the U.S. restaurant industry. This year TripShare was invited to attend and blog live from the awards ceremony, capturing the excitement for our community and food lovers around the world. You can read our musings from the event on the <a href="http://blog.jamesbeard.org/awardslive/" target="_blank">JBF blog</a>.</p> 
<p>We arrived at Lincoln Center and found our All Access passes in the sun-filled lobby of Avery Fisher Hall where we bumped into <a href="http://TripShare.com/marcussamuelsson" target="_blank">Chef Marcus Samuelsson</a> and Bobby Flay – even Chef Christopher Ivens-Brown – who <a href="http://TripShare.com/fiona" target="_blank">Fiona</a> and I had met on our <a href="http://www.TripShare.com/blog/posts/139-TripShare-with-sony-electronics" target="_blank">San Diego trip with Sony Electronics</a>.</p> 
 
<p><img src="http://s3.amazonaws.com/TripShare-ec2/blog_images/338/original.jpg?1305064749" /></p> 
<p align=center>Chef Marcus Samuelsson, Bravo's Andy Cohen, and Maya Hailen</p> 
 
<p>The chef and restaurant world is an intimate one, so it was fun to see so many familiar people in one place. Some we recognized from TV. Others, like Thomas Keller, we know because he created our favorite chocolate chip cookie recipe, and yet others own our favorite brunch spot in the East Village.</p> 
 
<p>Before the festivities began, Fiona walked right into the auditorium and on to the stage to catch a glimpse of what the winners see. Read her post on the JBF blog <a href="http://blog.jamesbeard.org/2011/05/TripShare-reporting-for-duty/" target="_blank">here</a>.</p><p><img src="http://s3.amazonaws.com/TripShare-ec2/blog_images/337/original.jpg?1305063431" /></p> 
 
<p>We spotted Mo Rocca and Lauren Deen from the Cooking Channel who recognized TripShare from <a href="http://www.TripShare.com/blog/posts/122-TripShare-on-food-ography--tonight" target="_blank">the recent episode we filmed for Food(ography)</a>!</p> 
<img src="http://s3.amazonaws.com/TripShare-ec2/blog_images/339/original.jpg?1305065566" /></p> 
 
<p>We met Mauve and Mortimer, two cute pigs who are mascots for <i>Whistlepig Straight Rye Whiskey</i>.<p> 
<p><img src="http://s3.amazonaws.com/TripShare-ec2/blog_images/340/original.jpg?1305065990" /></p> 
<p>And soon we found ourselves in the <i>Mercedes-Benz Victory Lane</i> where the winners were photographed and toasted with champagne upon exiting the stage.</p> 
<p><img src="http://s3.amazonaws.com/TripShare-ec2/blog_images/344/original.jpg?1305069043" /></p> 
<p>This is where Fiona (pictured above) and I set up camp for the night and where we got to chat with the winners, <a href="http://blog.jamesbeard.org/2011/05/TripShare-mr-keller-inspires-more-shoe-pics/" target="_blank">complimented Chef Keller on his shoes</a>, <a href="http://blog.jamesbeard.org/2011/05/TripShare-its-a-thai/" target="_blank">learned to speak Thai</a> ("Chaiyo" means "Cheers!") and even got a "Nominee" sticker from Chef Samuelsson who plucked it right off Rising Star Chef of the Year winner Gabriel Rucker of <a href="http://www.TripShare.com/explore#/loc/Portland, OR/desc/Le Pigeon/sort/best/" target="_blank">Le Pigeon</a> and <a href="http://amyblogschow.tumblr.com/post/5346963276/i-am-in-the-mercedes-benz-victory-lane-with-fiona" target="_blank">stuck it on me.</a></p> 
<p><img src="http://s3.amazonaws.com/TripShare-ec2/blog_images/342/original.jpg?1305067094" /></p> 
<p>It was an honor to get a peek behind-the-scenes of the Beard Foundation Awards parked from our cushy spots in the Victory Lane. We weren't nominated, per se, but it definitely felt like winning.</p><p><img src="http://s3.amazonaws.com/TripShare-ec2/blog_images/343/original.jpg?1305067705" /></p> 
</div> 
<div class='meta clearfix'> 
<a href="/people/amy" class="avatar"><img alt="Small_thumb" src="http://s3.amazonaws.com/TripShare-ec2/people/28422/small_thumb.jpg?1301038878" /></a> 
<div class='post-data'> 
Posted by
<a href="/amy" class="creator">Amy Cao</a> 
in
<a href="/blog?category=Spotlight">Spotlight</a> 
</div> 
on
<a href="http://www.TripShare.com/blog/posts/165-spotted-at-james-beard-foundation-awards" class="timestamp" rel="permalink">May 10, 2011</a> 
</div> 
</div> 
<div class='action-bar'> 
<div class='actions'> 

<!-- AddThis Button END --> 
 
</div> 
</div> 
<ul class='reviews list'> 
<li class='review last clearfix'> 
<div class='comments-container full'> 
<div class='comments' id='comments_blog_post_165'> 
</div> 
<form accept-charset="UTF-8" action="/blog/comments" class="new-comment default" id="comment_form_blog_post_165" method="post" onsubmit="if (!$F('comment_text_blog_post_165').blank()) { new Ajax.Request('/blog/comments', {asynchronous:true, evalScripts:true, parameters:Form.serialize(this)}); }; return false;"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="YZYY2UMoh6HdZKkSFNVQrn5g80hD7RI/ZD2zLo4+btI=" /></div> 
<div> 
<input id="blog_post_id" name="blog_post_id" type="hidden" value="165" /> 
</div> 
<div class='row clearfix' style='margin-bottom:0'> 
<div class='avatar'> 
<img alt="Missing" src="/avatars/small_thumb/missing.png?1305156177" /> 
</div> 
<div class='text-box'> 
<textarea class="text" cols="30" id="comment_text_blog_post_165" name="text" onblur="FS.blur_comment_box('blog_post_165')" onfocus="FS.focus_comment_box('blog_post_165')" rows="2"></textarea> 
</div> 
</div> 
<input class="perfect-blue" id="comment_submit_blog_post_165" name="commit" onclick="FS.authenticate($('comment_form_blog_post_165').onsubmit.bind('comment_form_blog_post_165'), 'to comment on this post', 'comment'); return false" style="display:none" type="submit" value="Post your comment" /> 
</form> 
 
</div> 
</li> 
</ul> 
</li> 
<li class='entry clearfix' id='post-167'> 
<div class='content-box clearfix'> 
<div class='clearfix'> 
<div class='spotted-by'> 
<a href="/blog?category=Spotlight" class="label">Spotlight</a> 
</div> 
</div> 
<h2 class='title'><a href="http://www.TripShare.com/blog/posts/167-announcing-askmen-s-top-29-cities-to-visit" rel="permalink">Announcing AskMen's Top 29 Cities to Visit</a></h2> 
<div class='post-body'> 
<p><a href="http://www.TripShare.com/askmen" target="_blank"><img src="http://s3.amazonaws.com/TripShare-ec2/blog_images/334/original.png?1304973448" /></a></p> 
<p>Drumroll please...! Today, one of our newest partners, the renowned <a href="http://www.askmen.com" target="_blank"><strong>AskMen</strong></a>, is launching its <a href="http://www.askmen.com/specials/top_29_cities/" target="_blank">Top 29 Cities to Visit</a>, featuring the editors’ picks for the best places for single men to visit and look for adventure.</p> 
 
<p>Listen up, fellas, AskMen did the quantitative homework to help point you to cities with the best weather, average cost of a pint of beer and a cab ride, accommodations, sports, culture, and availability of single women.</p> 
 
<p>Within each city, AskMen is also asking the TripShare community to help recommend the <a href="http://www.TripShare.com/guides/1721-simon-majumdar-s-search-for-the-perfect-martini" target="_blank">best martinis</a> that you've tried, and contribute to <a href="http://www.TripShare.com/guides/1607-simon-s-last-meal" target="_blank">favourite dishes</a> to share with the Food Network’s <i>The Next Iron Chef</i> judge <a href="http://twitter.com/#!/simonmajumdar" target="_blank">Simon Majumdar</a>.</p> 
 
<p>Follow AskMen's <strong>Alphameals</strong> on TripShare, and stay tuned for recommendations, guides and a lot more surprises from AskMen: <a href="http://www.TripShare.com/askmen" target="_blank">TripShare.com/askmen</a>.</p> 
<p><a href="http://www.TripShare.com/askmen" target="_blank"><img src="http://s3.amazonaws.com/TripShare-ec2/blog_images/336/original.gif?1305034233" /></a></p> 
 
</div> 
<div class='meta clearfix'> 
<a href="/people/fiona" class="avatar"><img alt="Small_thumb" src="http://s3.amazonaws.com/TripShare-ec2/people/14183/small_thumb.jpg?1287111600" /></a> 
<div class='post-data'> 
Posted by
<a href="/fiona" class="creator">Fiona Tang</a> 
in
<a href="/blog?category=Spotlight">Spotlight</a> 
</div> 
on
<a href="http://www.TripShare.com/blog/posts/167-announcing-askmen-s-top-29-cities-to-visit" class="timestamp" rel="permalink">May 10, 2011</a> 
</div> 
</div> 
<div class='action-bar'> 
<div class='actions'> 

 
</div> 
</div> 
<ul class='reviews list'> 
<li class='review last clearfix'> 
<div class='comments-container full'> 
<div class='comments' id='comments_blog_post_167'> 
</div> 
<form accept-charset="UTF-8" action="/blog/comments" class="new-comment default" id="comment_form_blog_post_167" method="post" onsubmit="if (!$F('comment_text_blog_post_167').blank()) { new Ajax.Request('/blog/comments', {asynchronous:true, evalScripts:true, parameters:Form.serialize(this)}); }; return false;"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="YZYY2UMoh6HdZKkSFNVQrn5g80hD7RI/ZD2zLo4+btI=" /></div> 
<div> 
<input id="blog_post_id" name="blog_post_id" type="hidden" value="167" /> 
</div> 
<div class='row clearfix' style='margin-bottom:0'> 
<div class='avatar'> 
<img alt="Missing" src="/avatars/small_thumb/missing.png?1305156177" /> 
</div> 
<div class='text-box'> 
<textarea class="text" cols="30" id="comment_text_blog_post_167" name="text" onblur="FS.blur_comment_box('blog_post_167')" onfocus="FS.focus_comment_box('blog_post_167')" rows="2"></textarea> 
</div> 
</div> 
<input class="perfect-blue" id="comment_submit_blog_post_167" name="commit" onclick="FS.authenticate($('comment_form_blog_post_167').onsubmit.bind('comment_form_blog_post_167'), 'to comment on this post', 'comment'); return false" style="display:none" type="submit" value="Post your comment" /> 
</form> 
 
</div> 
</li> 
</ul> 
</li> 
<li class='entry clearfix' id='post-166'> 
<div class='content-box clearfix'> 
<div class='clearfix'> 
<div class='spotted-by'> 
<a href="/blog?category=Spotlight" class="label">Spotlight</a> 
</div> 
</div> 
<h2 class='title'><a href="http://www.TripShare.com/blog/posts/166-TripShare-is-live-blogging-at-the-james-beard-foundation-awards-tonight" rel="permalink">TripShare is Live Blogging at the James Beard Foundation Awards Tonight</a></h2> 
<div class='post-body'> 
<p><a href="http://blog.jamesbeard.org/awardslive/" target="_blank"><img src="http://s3.amazonaws.com/TripShare-ec2/blog_images/333/original.png?1304964805" /></a></p> 
<p>We're proud to announce that TripShare will be blogging live from the <strong><a href="http://blog.jamesbeard.org/2011/05/follow-the-jbf-awards-online/" target="_blank">James Beard Foundation Awards</a></strong> tonight! Behind our text and tweets will be <a href="http://TripShare.com/fiona" target="_blank">Fiona</a> and <a href="http://TripShare.com/amy" target="_blank">me</a>, and we’ll be joined on the <i>James Beard Foundation</i> website by awesome TripShares and popular New York food blogging duo, <a href="http://www.immaculateinfatuation.com/" target="_blank">Immaculate Infatuation</a>.</p> 
<p>The ceremony will be held at Lincoln Center, the epicenter of arts and culture – and where we go see the ballet every summer – so we're getting dressed up for the occasion!</p> 
<p>For those who are wondering, the JBF Awards is like the Oscars of food and restaurants, so the best restaurant, best chef, and many more will be honored within the food industry.</p> 
<p>Follow the action on the <a href="http://twitter.com/TripShare" target="_blank">TripShare Twitter page</a> and on the <a href="http://blog.jamesbeard.org/awardslive/" target="_blank">JBF Awards site</a> starting at 6PM ET. We’ll be sharing the action as it happens so stay tuned!
</div> 
<div class='meta clearfix'> 
<a href="/people/amy" class="avatar"><img alt="Small_thumb" src="http://s3.amazonaws.com/TripShare-ec2/people/28422/small_thumb.jpg?1301038878" /></a> 
<div class='post-data'> 
Posted by
<a href="/amy" class="creator">Amy Cao</a> 
in
<a href="/blog?category=Spotlight">Spotlight</a> 
</div> 
on
<a href="http://www.TripShare.com/blog/posts/166-TripShare-is-live-blogging-at-the-james-beard-foundation-awards-tonight" class="timestamp" rel="permalink">May 09, 2011</a> 
</div> 
</div> 
<div class='action-bar'> 
<div class='actions'> 

 
</div> 
</div> 
<ul class='reviews list'> 
<li class='review last clearfix'> 
<div class='comments-container full'> 
<div class='comments' id='comments_blog_post_166'> 
</div> 
<form accept-charset="UTF-8" action="/blog/comments" class="new-comment default" id="comment_form_blog_post_166" method="post" onsubmit="if (!$F('comment_text_blog_post_166').blank()) { new Ajax.Request('/blog/comments', {asynchronous:true, evalScripts:true, parameters:Form.serialize(this)}); }; return false;"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="YZYY2UMoh6HdZKkSFNVQrn5g80hD7RI/ZD2zLo4+btI=" /></div> 
<div> 
<input id="blog_post_id" name="blog_post_id" type="hidden" value="166" /> 
</div> 
<div class='row clearfix' style='margin-bottom:0'> 
<div class='avatar'> 
<img alt="Missing" src="/avatars/small_thumb/missing.png?1305156177" /> 
</div> 
<div class='text-box'> 
<textarea class="text" cols="30" id="comment_text_blog_post_166" name="text" onblur="FS.blur_comment_box('blog_post_166')" onfocus="FS.focus_comment_box('blog_post_166')" rows="2"></textarea> 
</div> 
</div> 
<input class="perfect-blue" id="comment_submit_blog_post_166" name="commit" onclick="FS.authenticate($('comment_form_blog_post_166').onsubmit.bind('comment_form_blog_post_166'), 'to comment on this post', 'comment'); return false" style="display:none" type="submit" value="Post your comment" /> 
</form> 
 
</div> 
</li> 
</ul> 
</li> 
<li class='entry clearfix' id='post-152'> 
<div class='content-box clearfix'> 
<div class='clearfix'> 
<div class='spotted-by'> 
<a href="/blog?category=Spottertunities" class="label">Spottertunities</a> 
</div> 
</div> 
<h2 class='title'><a href="http://www.TripShare.com/blog/posts/152-TripShare-in-the-land-down-under" rel="permalink">TripShare in the Land Down Under</a></h2> 
<div class='post-body'> 
<p><img src="http://s3.amazonaws.com/TripShare-ec2/blog_images/330/original.jpg?1303842841" /></p> 
<p>Our co-founder and leading business lady <a href="http://TripShare.com/soraya" target="_blank">Soraya</a> is traveling and spreading the TripShare love in Australia! If that wasn't enough to prove that we love our friends in Oz, let me point out that our lovely – <a href="https://twitter.com/#!/yayfiona" target="_blank">and smiley</a> – Head of Outreach, Fiona, is a native Sydneysider. Clearly, we’re feeling extra affection for the Land Down Under this week.</p> 
 
<p>If you’re in Sydney on Tuesday, 3 May, please join Soraya at our first ever <strong>Australia TripShare Eat-Up</strong> at <i>Harry’s Café de Wheels</i> for their famous “Tiger” pie! As always, <strong><a href="http://www.meetup.com/TripShare/Sydney-AU/100814/" target="_blank">RSVP</strong></a> on the TripShare Meetup page and get ready to spot some beers and traditional meat pie with our wonderful colleague and friend.</p> 
<p>Here's a photo in case you need convincing.</p><p><a href="http://www.TripShare.com/places/119681-harry-s-cafe-de-wheels-sydney/items/95145-tiger-pie" target="_blank"><img src="http://s3.amazonaws.com/TripShare-ec2/blog_images/332/original.jpg?1304010275" /></p></a> 
<p><i>Photo of Sydney skyline by me.</p></i> 
</div> 
<div class='meta clearfix'> 
<a href="/people/amy" class="avatar"><img alt="Small_thumb" src="http://s3.amazonaws.com/TripShare-ec2/people/28422/small_thumb.jpg?1301038878" /></a> 
<div class='post-data'> 
Posted by
<a href="/amy" class="creator">Amy Cao</a> 
in
<a href="/blog?category=Spottertunities">Spottertunities</a> 
</div> 
on
<a href="http://www.TripShare.com/blog/posts/152-TripShare-in-the-land-down-under" class="timestamp" rel="permalink">April 28, 2011</a> 
</div> 
</div> 
<div class='action-bar'> 
<div class='actions'> 

 
</div> 
</div> 
<ul class='reviews list'> 
<li class='review last clearfix'> 
<div class='comments-container full'> 
<p><a href="#" onclick="$(this).up('.comments-container').select('.hidden').invoke('appear', {duration:0.7}); $(this).up('p').hide();; return false;">View all 5 comments</a></p> 
<div class='comments' id='comments_blog_post_152'> 
<div class='clearfix hidden' id='blog_comment_767' style='display:none'> 
<a href="/people/fiona" class="avatar"><img alt="Small_thumb" src="http://s3.amazonaws.com/TripShare-ec2/people/14183/small_thumb.jpg?1287111600" /></a> 
<div class='comment'> 
<div class='body'> 
<a href="/people/fiona">Fiona Tang</a> 
That's mashed potatoes, gravy and peas on top of a minced meat pie. My absolute favourite thing in the world! #misshome
</div> 
<span class='timestamp'> 
14 days
ago.
</span> 
</div> 
</div> 
<div class='clearfix' id='blog_comment_782' style=''> 
<a href="/people/soraya" class="avatar"><img alt="Small_thumb" src="http://s3.amazonaws.com/TripShare-ec2/people/1577/small_thumb.jpg?1277983060" /></a> 
<div class='comment'> 
<div class='body'> 
<a href="/people/soraya">Soraya Darabi</a> 
So excited for this!  2 hours and counting..... 
</div> 
<span class='timestamp'> 
9 days
ago.
</span> 
</div> 
</div> 
<div class='clearfix' id='blog_comment_783' style=''> 
<a href="/people/101025-kristen-hess" class="avatar"><img alt="Small_thumb" src="http://s3.amazonaws.com/TripShare-ec2/people/101025/small_thumb.jpg?1304696945" /></a> 
<div class='comment'> 
<div class='body'> 
<a href="/people/101025-kristen-hess">Kristen Hess</a> 
LOVE the Sydney meat pies! That was the first thing I ate when I landed in Sydney on a small paper plate right near the Circular Quay - delishness!!
</div> 
<span class='timestamp'> 
6 days
ago.
</span> 
</div> 
</div> 
<div class='clearfix' id='blog_comment_785' style=''> 
<a href="/people/31828-richard-wooding" class="avatar"><img alt="Small_thumb" src="http://s3.amazonaws.com/TripShare-ec2/people/31828/small_thumb.jpg?1299393501" /></a> 
<div class='comment'> 
<div class='body'> 
<a href="/people/31828-richard-wooding">Richard Wooding</a> 
When are you visiting Cape Town? :)
</div> 
<span class='timestamp'> 
3 days
ago.
</span> 
</div> 
</div> 
<div class='clearfix' id='blog_comment_791' style=''> 
<a href="/people/152075-stanislava" class="avatar"><img alt="Missing" src="/avatars/small_thumb/missing.png?1305156177" /></a> 
<div class='comment'> 
<div class='body'> 
<a href="/people/152075-stanislava">Stanislava</a> 
Great!
</div> 
<span class='timestamp'> 
about 4 hours
ago.
</span> 
</div> 
</div> 
 
</div> 
<form accept-charset="UTF-8" action="/blog/comments" class="new-comment default" id="comment_form_blog_post_152" method="post" onsubmit="if (!$F('comment_text_blog_post_152').blank()) { new Ajax.Request('/blog/comments', {asynchronous:true, evalScripts:true, parameters:Form.serialize(this)}); }; return false;"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="YZYY2UMoh6HdZKkSFNVQrn5g80hD7RI/ZD2zLo4+btI=" /></div> 
<div> 
<input id="blog_post_id" name="blog_post_id" type="hidden" value="152" /> 
</div> 
<div class='row clearfix' style='margin-bottom:0'> 
<div class='avatar'> 
<img alt="Missing" src="/avatars/small_thumb/missing.png?1305156177" /> 
</div> 
<div class='text-box'> 
<textarea class="text" cols="30" id="comment_text_blog_post_152" name="text" onblur="FS.blur_comment_box('blog_post_152')" onfocus="FS.focus_comment_box('blog_post_152')" rows="2"></textarea> 
</div> 
</div> 
<input class="perfect-blue" id="comment_submit_blog_post_152" name="commit" onclick="FS.authenticate($('comment_form_blog_post_152').onsubmit.bind('comment_form_blog_post_152'), 'to comment on this post', 'comment'); return false" style="display:none" type="submit" value="Post your comment" /> 
</form> 
 
</div> 
</li> 
</ul> 
</li> 
<li class='entry clearfix' id='post-154'> 
<div class='content-box clearfix'> 
<div class='clearfix'> 
<div class='spotted-by'> 
<a href="/blog?category=Spotlight" class="label">Spotlight</a> 
</div> 
</div> 
<h2 class='title'><a href="http://www.TripShare.com/blog/posts/154-get-the-TripShare-spring-cocktail---campari-cup-at-ai-fiori" rel="permalink">Get the TripShare Spring Cocktail - Campari Cup at Ai Fiori</a></h2> 
<div class='post-body'> 
<p><img src="http://s3.amazonaws.com/TripShare-ec2/blog_images/331/original.jpg?1303943072" /></p> 
 
<p>It finally feels like Spring in New York City, and we're excited to bring together NYC TripShares on Thursday night for our first ever <strong><a href="http://www.meetup.com/TripShare/New-York-NY/98029/" target="_blank">TripShare Happy Hour at Ai Fiori</a></strong>.</p> 
<p>We'll be celebrating the good weather and ringing in Ai Fiori's <a href="http://www.TripShare.com/guides/2087-the-bar-at-ai-fiori--spring-specialties?everyone=1" target="_blank">Spring Specialties</a> with exclusive drink specials for you guys and some yummy bites to try, too.</p> 
<p>Last Friday we asked you to name your favorite Spring drinks <a href="http://www.facebook.com/TripShare/posts/124729747604239" target="_blank">on Facebook</a>. In response to the online calls for gin, mint, light, citrus, cucumber, "sparkling" and "refreshing," Ai Fiori's cocktail master Eben Freeman created a special TripShare Spring cocktail called the <strong>Campari Cup</strong>, which will be available tomorrow at our event! You have to admit it looks pretty awesome.</p> 
<p>For our friends who want to recreate the <i>Campari Cup</i> at home, here are the secret ingredients:</p> 
 
<p><strong>Campari Cup</strong></p> 
Glass: highball<br> 
Garnish: mint sprig and cucumber peel<br> 
Ingredients:<br> 
½ oz. honey syrup<br> 
¾ oz. lemon juice<br> 
1 oz. Hendrick’s gin<br> 
1 oz. Campari<br> 
Top up club soda</p> 
<p><strong>Method:</strong> Combine honey syrup, lemon juice, and gin in a cobbler shaker. Shake and strain into glass. Fill glass with crushed ice, swizzle briefly and top with more ice. Pour chilled Campari over drink and top with club soda. Top again with crushed ice, place straws and garnish.</p> 
 
<p>Looking forward to seeing you guys tomorrow! Don't forget to <a href="http://www.meetup.com/TripShare/New-York-NY/98029/" target="_blank"><strong>RSVP</strong></a>.</p> 
 
<p><i>Photo courtesy of Jeff Schwartz and Ai Fiori</i></p> 
 
 
</div> 
<div class='meta clearfix'> 
<a href="/people/amy" class="avatar"><img alt="Small_thumb" src="http://s3.amazonaws.com/TripShare-ec2/people/28422/small_thumb.jpg?1301038878" /></a> 
<div class='post-data'> 
Posted by
<a href="/amy" class="creator">Amy Cao</a> 
in
<a href="/blog?category=Spotlight">Spotlight</a> 
</div> 
on
<a href="http://www.TripShare.com/blog/posts/154-get-the-TripShare-spring-cocktail---campari-cup-at-ai-fiori" class="timestamp" rel="permalink">April 27, 2011</a> 
</div> 
</div> 
<div class='action-bar'> 
<div class='actions'> 

 
</div> 
</div> 
<ul class='reviews list'> 
<li class='review last clearfix'> 
<div class='comments-container full'> 
<div class='comments' id='comments_blog_post_154'> 
</div> 
<form accept-charset="UTF-8" action="/blog/comments" class="new-comment default" id="comment_form_blog_post_154" method="post" onsubmit="if (!$F('comment_text_blog_post_154').blank()) { new Ajax.Request('/blog/comments', {asynchronous:true, evalScripts:true, parameters:Form.serialize(this)}); }; return false;"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="YZYY2UMoh6HdZKkSFNVQrn5g80hD7RI/ZD2zLo4+btI=" /></div> 
<div> 
<input id="blog_post_id" name="blog_post_id" type="hidden" value="154" /> 
</div> 
<div class='row clearfix' style='margin-bottom:0'> 
<div class='avatar'> 
<img alt="Missing" src="/avatars/small_thumb/missing.png?1305156177" /> 
</div> 
<div class='text-box'> 
<textarea class="text" cols="30" id="comment_text_blog_post_154" name="text" onblur="FS.blur_comment_box('blog_post_154')" onfocus="FS.focus_comment_box('blog_post_154')" rows="2"></textarea> 
</div> 
</div> 
<input class="perfect-blue" id="comment_submit_blog_post_154" name="commit" onclick="FS.authenticate($('comment_form_blog_post_154').onsubmit.bind('comment_form_blog_post_154'), 'to comment on this post', 'comment'); return false" style="display:none" type="submit" value="Post your comment" /> 
</form> 
 
</div> 
</li> 
</ul> 
</li> 
<li class='entry clearfix' id='post-151'> 
<div class='content-box clearfix'> 
<div class='clearfix'> 
<div class='spotted-by'> 
<a href="/blog?category=Spottertunities" class="label">Spottertunities</a> 
</div> 
</div> 
<h2 class='title'><a href="http://www.TripShare.com/blog/posts/151-special-TripShare-offer-from-villagevines" rel="permalink">Special TripShare Offer from VillageVines</a></h2> 
<div class='post-body'> 
<p><img src="http://s3.amazonaws.com/TripShare-ec2/blog_images/329/original.jpg?1303759463" /></p><p>This week, we're kicking off a new partnership with <strong>VillageVines</strong>! First, they are generously providing all TripShare members a free first reservation ($10 value) as well as 30% off your entire bill – including alcohol – at over 500 dining destinations in New York, Chicago, Los Angeles, Washington DC, and San Francisco.</p><p>As an added bonus, if you're one of the first <strong>30 TripShare members</strong> to use VillageVines to try <strong>five of the restaurants</strong> in one of their <a href="http://www.TripShare.com/villagevines" target="_blank"><strong>city guides</a></strong> by June 6, 2011, you will receive a $100 gift card to the VillageVines restaurant of your choice.</p> 
<p>So, not only do you get a deeply discounted fine dining experience at a high end restaurant, if you use VillageVines to dine at five of their properties by the first week of June, you'll also get <i>free money</i> to splurge on a sixth dinner! Just make sure you're among the first thirty TripShares to complete the challenge and you're good to go.</p> 
<p>For a list of the eligible VillageVines restaurants, visit <a href="http://TripShare.com/villagevines" target="_blank">TripShare.com/villagevines</a> and get your free reservation <strong><a href="https://www.villagevines.com/welcome.aspx?s=TripShare&af=TripShare" target="_blank">here</strong></a>. Start saving and spotting today!</p> 
<p><i>Photo of Zengo, <a href="https://www.villagevines.com/member/deal.aspx?i=ea4bb108-34f6-438f-98d4-0651051242ef" target="_blank">featured NYC restaurant</a> on VillageVines, by <a href="http://blog.reikodesign.com/index.php/2010/08/feng-shui-for-restaurants-design-tips-for-success/" target="_blank">Reiko</a>.</i> 
</div> 
<div class='meta clearfix'> 
<a href="/people/amy" class="avatar"><img alt="Small_thumb" src="http://s3.amazonaws.com/TripShare-ec2/people/28422/small_thumb.jpg?1301038878" /></a> 
<div class='post-data'> 
Posted by
<a href="/amy" class="creator">Amy Cao</a> 
in
<a href="/blog?category=Spottertunities">Spottertunities</a> 
</div> 
on
<a href="http://www.TripShare.com/blog/posts/151-special-TripShare-offer-from-villagevines" class="timestamp" rel="permalink">April 25, 2011</a> 
</div> 
</div> 
<div class='action-bar'> 
<div class='actions'> 

 
</div> 
</div> 
<ul class='reviews list'> 
<li class='review last clearfix'> 
<div class='comments-container full'> 
<div class='comments' id='comments_blog_post_151'> 
</div> 
<form accept-charset="UTF-8" action="/blog/comments" class="new-comment default" id="comment_form_blog_post_151" method="post" onsubmit="if (!$F('comment_text_blog_post_151').blank()) { new Ajax.Request('/blog/comments', {asynchronous:true, evalScripts:true, parameters:Form.serialize(this)}); }; return false;"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="YZYY2UMoh6HdZKkSFNVQrn5g80hD7RI/ZD2zLo4+btI=" /></div> 
<div> 
<input id="blog_post_id" name="blog_post_id" type="hidden" value="151" /> 
</div> 
<div class='row clearfix' style='margin-bottom:0'> 
<div class='avatar'> 
<img alt="Missing" src="/avatars/small_thumb/missing.png?1305156177" /> 
</div> 
<div class='text-box'> 
<textarea class="text" cols="30" id="comment_text_blog_post_151" name="text" onblur="FS.blur_comment_box('blog_post_151')" onfocus="FS.focus_comment_box('blog_post_151')" rows="2"></textarea> 
</div> 
</div> 
<input class="perfect-blue" id="comment_submit_blog_post_151" name="commit" onclick="FS.authenticate($('comment_form_blog_post_151').onsubmit.bind('comment_form_blog_post_151'), 'to comment on this post', 'comment'); return false" style="display:none" type="submit" value="Post your comment" /> 
</form> 
 
</div> 
</li> 
</ul> 
</li> 
 
 
</ul> 
<div class='pager-container clearfix'> 
<div class="pagination"><span class="previous_page disabled">&#8592; Previous</span> <em>1</em> <a rel="next" href="/blog?page=2">2</a> <a href="/blog?page=3">3</a> <a href="/blog?page=4">4</a> <a href="/blog?page=5">5</a> <a href="/blog?page=6">6</a> <a href="/blog?page=7">7</a> <a href="/blog?page=8">8</a> <a href="/blog?page=9">9</a> <span class="gap">&hellip;</span> <a href="/blog?page=17">17</a> <a href="/blog?page=18">18</a> <a class="next_page" rel="next" href="/blog?page=2">Next &#8594;</a></div> 
</div> 
</div> 
 
        </div> 
        
      
      </div> 
    </div> 
    
    <div id='footer'> 

<div class='inset'> 
<span class='copy'> 
&copy;
2011
TripShare
</span> 
<a href="/about">About</a> 
<small class='divider'>&middot;</small> 
<a href="/iphone">iPhone</a> 
<small class='divider'>&middot;</small> 
<a href="/jobs">Jobs</a> 
<small class='divider'>&middot;</small> 
<a href="/terms">Terms</a> 
<small class='divider'>&middot;</small> 
<a href="/privacy">Privacy</a> 
<small class='divider'>&middot;</small> 
<a href="http://twitter.com/TripShare">Twitter</a> 
<small class='divider'>&middot;</small> 
<a href="http://www.facebook.com/pages/TripShare/191851192979">Facebook</a> 

</div> 
</div> 

<div id='footer-repeat'></div> 
</div> 

  </body> 
</html>