<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
<title>TripShare - Trips</title> 

<link rel="stylesheet" href="{{ static_url("stylesheets/base_packaged.css") }}" type="text/css" media="screen"/>  
<link rel="stylesheet" href="{{ static_url("stylesheets/nano.css") }}" type="text/css"/> 
<link rel="stylesheet" href="{{ static_url("stylesheets/autocomplete.css") }}" type="text/css"/> 
<script type="text/javascript" src="{{ static_url("javascript/js/jquery-1.4.4.min.js") }}"></script>
<script type="text/javascript" src="{{ static_url("javascript/js/jquery-ui-1.8.7.custom.min.js") }}"></script>


<script src="{{ static_url("javascript/createtrippopupintrips.js") }}" type="text/javascript"></script>
<script src="{{ static_url("javascript/CalendarPopup.js") }}" type="text/javascript"></script>
<script src="{{ static_url("javascript/autocomplete.js") }}" type="text/javascript"></script>
<script src="{{ static_url("javascript/localdata.js") }}" type="text/javascript"></script>
<script src="{{ static_url("javascript/settingpopup.js") }}" type="text/javascript"></script>

<script language="JavaScript">document.write(getCalendarStyles());</script>
</head> 


<body> 
 
<div id="header"> 
<div id="nav-bar"  >

{% include "Module/headline.html" %}


{{ modules.UserEntry() }}

</div> 
</div> 
 
<div id="bodydiv"> 
 
 
<div id="container"> 
 

<div id="header"> 

</div> 
 
<div id="sidebar"> 
<div id="profile"> 

{{ modules.UserSetting() }}

</div> 
 

<div class="box"> 
<div class="box-bar friends"> 
<div class="box-corner"></div> 
<div class="box-bar-text"> 
 
 
<span class="title"><a href="/friends">Friends</a></span> 
</div> 
</div> 
<div class="subbar friends" style="display:none"></div> 
 
<div class="box-body"> 
<div class="section"> 
<ul class="friend_list"> 
{% for friend in friends %}
<li class="{{friend['status']}}" >
<span class="headpichold">
<a style="cursor:pointer;" title="{{friend['username']}}" href="/{{friend['slug']}}"><img src="{{friend['picture']}}"></a>
</span>
<span class="clearfix">
<img class="{{friend['status']}}" src="{{static_url("images/online.gif")}}" width="13" height="12" title="click here to chat with {{friend['username']}}" onclick="javascript:talkto({{friend['slug']}});return false;"><a href="/{{friend['slug']}}" title="{{friend['username']}}">{{friend['username']}}</a>
</span>
</li>
{% end %}
</ul> 
</div> 
 
 
<div class="footer"><a href="/friends">Browse/edit friends</a></div> 
</div> 
<div class="box-bottom"> 
<div class="box-corner"></div> 
<div class="box-spacer"></div> 
</div> 
</div> 
 
<div class="box"> 
<div class="box-bar groups"> 
<div class="box-corner"></div> 
<div class="box-bar-text"> 
 
 
<span class="title"><a href="/trips">Trips</a></span> 
</div> 
</div> 
<div class="subbar groups" style="display:none"></div> 
 
<div class="box-body"> 
{% if trips %}
{% for trip in trips %}  
<td>
<div class="name"><a href="/createtrip?id={{ trip['trip_id'] }}" sid={{ trip['trip_id'] }} class="l_profile">{{ trip['title'] }}</a></div>
</td>
{% end %}
{% else %}
<div class="emptymessage">You aren't a member of any trips yet.</div>  
{% end %}
<div class="emptymessage" style="margin-top:8px"><a href="/trips">Browse/create trips</a></div> 
</div> 
<div class="box-bottom"> 
<div class="box-corner"></div> 
<div class="box-spacer"></div> 
</div> 
</div> 
 
 
</div> 
 
<div id="body"> 
<div class="box white" id="page"> 
<div class="box-bar friends"> 
<div class="box-corner"></div> 
<div class="box-bar-text"> 
 

<span class="title"><a href="/">My Trips</a></span> 

</div> 
</div> 
<div class="subbar friends" style="display:none"></div> 
 
<div class="box-body"> 
 
<div style="float:right">
<!-- #dialog is the id of a DIV defined in the code below -->  
<a href="#createtripdialog" name="createtrip">Create a trip</a>  
  
<div id="boxes">  
  
      
 {{ modules.CreateTrip() }} 
  
  
 &nbsp;|&nbsp;

<a href="/trips/search" style="font-weight:bold">Find trips</a>

</div> 



<div style="margin-bottom:20px">

View:
<a href="/trips">Active trips</a> -
<a href="?all=1" class="selected">All trips</a>

&nbsp;
</div> 

<div>


<table class="usergrid">
<tbody>
<tr>
{% if trips %}
  {% for trip in trips %}
  <td>
  	{% if current_user %}
 <div class="picture"><a href="/trip/{{ trip['slug'] }}" sid={{ trip['trip_id'] }} class="l_profile"><img src="http://i.friendfeed.com/p-b78247cfb2d94e68b3115a4c489d48fb-large-4" alt="{{ trip['title'] }}" class="picture large"></a>
 </div>
<div class="name"><a href="/trip/{{ trip['slug'] }}" sid={{ trip['trip_id'] }} class="l_profile">{{ trip['title'] }}</a>
</div>
    {% end %}
  </td>
  {% end %}
 {% end %}
 
</tr>
</tbody>
</table>
{% include "Module/footer.html" %}
</div>

</div> 



<script type="text/javascript">
$(document).ready(function() {


	
	$("#start").autocomplete(cities);
	

	
	$("#destination").autocomplete(cities, {
		matchContains: true,
		minChars: 0
	});

	$("#clear").click(function() {
		$(":input").unautocomplete();
	});
});


function changeScrollHeight() {
    var h = parseInt(window.prompt('Please type new scroll height (number in pixels):', jQuery.Autocompleter.defaults.scrollHeight));
    if(h > 0) {
        $("#suggest1").setOptions({
			scrollHeight: h
		});
    }
}


</script>


 <script type="text/javascript">
//<![CDATA[
function checkform(form)
{
	if (form.start.value == "") 
	{
	  alert("Please enter a valid address");
	  form.start.focus();
	  return false;
	}
	
	if (form.dest.value == "") 
	{
	  alert("Please enter a valid address");
	  form.dest.focus();
	  return false;
	}

	return true;
}

function checkRequired(form)
{
	if((form.picture.value.lastIndexOf('.jpg')==-1 && form.upload.value.lastIndexOf('.png')==-1 && form.upload.value.lastIndexOf('.gif')==-1)) { 
	  alert("Please upload a valid picture");
	  
	  return false;
	}
	return true;
}
</script>
<script type="text/javascript">
function check_createtrip_form(form)
{
	
	
	if (form.title.value == "") 
	{
	  alert("Please enter trip title");
	  form.title.focus();
	  return false;
	}
	
	
	if (form.start.value == "") 
	{
	  alert("Please enter trip start");
	  form.start.focus();
	  return false;
	}
	
	if (form.destination.value == "") 
	{
	  alert("Please enter trip destination");
	  form.destination.focus();
	  return false;
	}
	
	if (form.start_date.value == "") 
	{
	  alert("Please enter trip start_date");
	  form.start_date.focus();
	  return false;
	}
	
	if (form.end_date.value == "") 
	{
	  alert("Please enter trip end_date");
	  form.end_date.focus();
	  return false;
	}
	
	return true;
}
</script>

<script type="text/javascript">
	
	function getCookie(name) {
    var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
    return r ? r[1] : undefined;
    }
	
	
	$(document).ready(function() {
	var _xsrf = getCookie("_xsrf");
	var $dialog = $('<div class="dialogdiv"></div>')
		.html('<div id="dialog"><form action="/a/changepicture" method="post" onsubmit="return checkRequired(this)" enctype="multipart/form-data"><input type="hidden" name="_xsrf" value='+_xsrf+'><div><img src="{{current_user["picture"]}}" alt="{{current_user["username"]}}" class="picture large"></div><div style="margin-top: 1em"><input type="file" size="40" name="picture" value="/tmp/test.gif" id="pictureupload"></div><div class="buttons"><input type="submit" value="Upload picture" class="save"><a href="#" class="l_closedialog">Cancel</a></div></form></div>')
		.dialog({
			autoOpen: false,
			title: 'User Profile Picture'
		});

	$('.l_editpicture').click(function(e) {
		e.preventDefault();  
		$('.settingdialogdiv').hide();  
		$dialog.dialog('open');
		// prevent the default action, e.g., following a link
		return false;
	});
	
	$('.l_closedialog').click(function() {
		
		$dialog.dialog('close');
		// prevent the default action, e.g., following a link
		return false;
	});
});
</script>
</body> 
</html> 