<html>
<head>
<title>cardtable</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/search.css" />
  </head>
<body>
    <p>{{user}}, here are your cards:</p>
    <table border="1">
    <tr>
    <th>Name</th>
    <th>Edition</th>
    <th>Color</th>
    <th>Type</th>
    <th>Rarity</th>
    <th>Cost</th>
    <th>PT</th>
    <th>Text</th>
    <th>CMC</th>
     </tr>
    {% for card in cards %}
        <tr>
        <td>{{ card.name }}</td>
        <td>{{ card.edition }}</td>
        <td>{{ card.color }}</td>
        <td>{{ card.type }}</td>
        <td>{{ card.rarity }}</td>
        <td>{{ card.cost }}</td>
        <td>{{ card.pt }}</td>
        <td>{{ card.text }}</td>
        <td>{{ card.cmc }}</td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>