
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
<title>TripShare</title> 

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;libraries=geometry,places"></script> 
<link rel="stylesheet" href="{{ static_url("stylesheets/base_packaged.css") }}" type="text/css" media="screen"/>  
<link rel="stylesheet" href="{{ static_url("stylesheets/nano.css") }}" type="text/css"/>  
<link rel="stylesheet" href="{{ static_url("stylesheets/CalendarControl.css") }}" type="text/css"/>
<link rel="stylesheet" href="{{ static_url("stylesheets/css/jquery-ui-1.8.16.custom.css") }}" type="text/css"/>

<script type="text/javascript" src="{{ static_url("javascript/js/jquery-1.4.4.min.js") }}"></script>
<script type="text/javascript" src="{{ static_url("javascript/js/jquery-ui-1.8.7.custom.min.js") }}"></script>

<script type="text/javascript" src="{{ static_url("javascript/js/jquery.history.js") }}"></script>
<script src="{{ static_url("javascript/js/form2object.js") }}" type="text/javascript"></script>
<script src="{{ static_url("javascript/js/all.js") }}" type="text/javascript"></script>
<script src="{{ static_url("javascript/loginpopup.js") }}" type="text/javascript"></script>
<script src="{{ static_url("javascript/autocomplete.js") }}" type="text/javascript"></script>
<script src="{{ static_url("javascript/createtripslides.js") }}" type="text/javascript"></script>
<script src="{{ static_url("javascript/createguideslides.js") }}" type="text/javascript"></script>
<script src="{{ static_url("javascript/CalendarControl.js") }}" type="text/javascript"></script>
<script src="{{ static_url("javascript/search.js") }}" type="text/javascript"></script>
<script src="{{ static_url("javascript/jquery.pagination.js") }}" type="text/javascript"></script>
<script src="{{ static_url("javascript/dragdroptool/core.js") }}" type="text/javascript"></script>
<script src="{{ static_url("javascript/dragdroptool/dragsort.js") }}" type="text/javascript"></script>
<script src="{{ static_url("javascript/dragdroptool/drag.js") }}" type="text/javascript"></script>
<script src="{{ static_url("javascript/dragdroptool/events.js") }}" type="text/javascript"></script>
<script src="{{ static_url("javascript/dragdroptool/coordinates.js") }}" type="text/javascript"></script>
<script src="{{ static_url("javascript/dragdroptool/css.js") }}" type="text/javascript"></script>
<script src="{{ static_url("javascript/dragdroptool/cookies.js") }}" type="text/javascript"></script>
<script src="{{ static_url("javascript/jquery.tinyscrollbar.min.js") }}" type="text/javascript"></script>
<script src="{{ static_url("javascript/settingpopup.js") }}" type="text/javascript"></script>
<script src="{{ static_url("javascript/vertical.slider.js")}}" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js" type="text/javascript"></script>



<script language="JavaScript" type="text/javascript"><!--
	var dragsort = ToolMan.dragsort();
	var junkdrawer = ToolMan.junkdrawer();

	window.onload = function() {
		junkdrawer.restoreListOrder("dest_list");

	//	dragsort.makeListSortable(document.getElementById("dest_list"),saveOrder);
	}
		
	function verticalOnly(item) {
		item.toolManDragGroup.verticalOnly();
	}
		
	function saveOrder(item) {
		var group = item.toolManDragGroup;
		var list = group.element.parentNode;
		var id = list.getAttribute("id");
		if (id == null) return;
		group.register('dragend', function() {ToolMan.cookies().set("list-" + id, junkdrawer.serializeList(list), 365)});
	}
//-->
</script>


<script type="text/javascript">
        
            /**
             * Callback function that displays the content.
             *
             * Gets called every time the user clicks on a pagination link.
             *
             * @param {int}page_index New Page index
             * @param {jQuery} jq the container with the pagination links as a jQuery object
             */
			function pageselectCallback(page_index, jq){
               // var new_content = $('#hiddenresult div.result:eq('+page_index+')').clone();
			  // var new_content = $('#latest_trip li.show_trips:eq('+page_index+')').clone();
              //  $('#Searchresult').empty().append(new_content);
			  section = $("#section_value").val();
			  
			  if(section == '')
			  section = "newtrips";
			  
			  _url = "/trips/"+section+"/"+page_index.toString();
			 
               	$.getJSON(_url, function(response) {
              //alert('test');
		        ShowTrip(response);
		
              });
			    return false;
            }
           
            /** 
             * Callback function for the AJAX content loader.
             */
            function initPagination() {
               //show five trips per page
			   var num_entries = $('#latest_trip li.show_trips').length  ;
				//alert(num_entries.toString());
                // Create pagination element
                $("#Pagination").pagination(num_entries, {
                    
                    callback: pageselectCallback,
                    items_per_page:3
                });
             }
                    
            // Load HTML snippet with AJAX and insert it into the Hiddenresult element
            // When the HTML has loaded, call initPagination to paginate the elements        
            $(document).ready(function(){      
             
			   initPagination();
            });
            
             
</script> 
 
<script  type="text/javascript">
  $('[placeholder]').focus(function() {
  var input = $(this);
  if (input.val() == input.attr('placeholder')) {
    input.val('');
    input.removeClass('placeholder');
  }
}).blur(function() {
  var input = $(this);
  if (input.val() == '' || input.val() == input.attr('placeholder')) {
    input.addClass('placeholder');
    input.val(input.attr('placeholder'));
  }
}).blur();

</script>
 
<script type="text/javascript">
	
	var initialLocation;
    var browserSupportFlag =  new Boolean();
    var user_images= document.getElementsByName("image_info");
	var bounds = new google.maps.LatLngBounds();
	var geocoder;
	
	function initialize(){
	geocoder = new google.maps.Geocoder();
		var _center = new google.maps.LatLng(34.3664951, -89.5192484);

		var myOptions = {
			zoom: 5,
			mapTypeId: google.maps.MapTypeId.ROADMAP,
			center: _center
		}
		map = new google.maps.Map(document.getElementById("map"), myOptions);
		//directionsDisplay.setMap(map);
		//infoWindow = new google.maps.InfoWindow();
		
		setMarkers(map);
		
		setAutoComplete('start');
		setAutoComplete('place-0-text');
		
		
//		// Try W3C Geolocation (Preferred)
//  if(navigator.geolocation) {
//    browserSupportFlag = true;
//    navigator.geolocation.getCurrentPosition(function(position) {
//      initialLocation = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
//      map.setCenter(initialLocation);
//    }, function() {
//      handleNoGeolocation(browserSupportFlag);
//    });
//  // Try Google Gears Geolocation
//  } else if (google.gears) {
//    browserSupportFlag = true;
//    var geo = google.gears.factory.create('beta.geolocation');
//    geo.getCurrentPosition(function(position) {
//      initialLocation = new google.maps.LatLng(position.latitude,position.longitude);
//      map.setCenter(initialLocation);
//    }, function() {
//      handleNoGeoLocation(browserSupportFlag);
//    });
//  // Browser doesn't support Geolocation
//  } else {
//    browserSupportFlag = false;
//    handleNoGeolocation(browserSupportFlag);
//  }
		
	}
	
	
	function setAutoComplete(searchId)
	{
		   /*   Autocomplete   */
        var input = document.getElementById(searchId);
        var autocomplete = new google.maps.places.Autocomplete(input);
		google.maps.event.addListener(autocomplete, 'place_changed', function() {
        var place = autocomplete.getPlace();
		geocoder.geocode( { 'address': place.formatted_address}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
		var geoId = searchId.replace(/text/g,"geo");
	  	$('#'+geoId).val(results[0].geometry.location);
		
      } 
      });
      });
	}
	
	 function handleNoGeolocation(errorFlag) {
    if (errorFlag == true) {
      alert("Geolocation service failed.");
      initialLocation = newyork;
    } else {
      alert("Your browser doesn't support geolocation. We've placed you in Siberia.");
      initialLocation = siberia;
    }
    map.setCenter(initialLocation);
  }
	
	
	function setMarkers(map) {
  
      var image,shadow;
	  var image_split;
	  var image_url, image_title, image_startPlace, image_id;
dest_places = document.getElementsByName("dest_places");

  for (var i = 0; i < user_images.length; i++) {
      image_split = user_images.item(i).value.split(';');
	  image_url = image_split[1];
	  image_id = image_split[2];

	  image = new google.maps.MarkerImage(image_url,
      new google.maps.Size(50, 50),    
      new google.maps.Point(0,0),    
      new google.maps.Point(50, 50),
	  new google.maps.Size(50, 50));
	  
      shadow = new google.maps.MarkerImage(image_url,
      new google.maps.Size(1, 1),
      new google.maps.Point(0,0),
      new google.maps.Point(0, 1));
	
	DestToMarker(dest_places.item(i).value,image, shadow);

  }
}

function DestToMarker(dest_place,image, shadow)
{

      dest_place= jQuery.parseJSON(dest_place);
	  geocoder.geocode( { 'address': dest_place[0]['dest']}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
	  	bounds.extend(results[0].geometry.location);
		map.fitBounds(bounds);
        var marker = new google.maps.Marker({
        position: results[0].geometry.location,
        map: map,
        shadow: shadow,
        icon: image,
        zIndex: 9000
    });

      } else {
        alert("Geocode was not successful for the following reason: " + status);
      }
      });
 
	
}
</script>

<style type="text/css"> 
table.oneclickicons td {line-height:0; padding-right:7px;}
</style> 

<style type="text/css">
#Searchresult {
	margin-top:15px;
	margin-bottom:15px;
	border:solid 1px #eef;
	padding:5px;
	background:#eef;
  	width:40%;
}

#Searchresult p { margin-bottom:1.4em;}

#Searchresult dt {
    font-weight:bold;
}

#Searchresult dd {
    margin-left:25px;
}

</style> 


 
</head> 
<body> 

<div id="header"> 

<div class="clearfix" id="nav-bar"  >
 {% include "Module/headline.html" %}
 
 {% include "Module/usersetting.html" %}
 
</div>
</div>

<div id="GuideTab">
	<ul class="GuideTabList">
		    
		    <li class="walkthrough_tab on">
			<a href="#" onclick="set_walkthrough_section('walkthrough'); return false;">
                <strong>How it works</strong>
            </a>
			</li>
			
			<li class="map_tab">
            <a href="#" onclick="set_walkthrough_section('map'); return false;">
                <strong>Travelers on Map</strong>
            </a>
			</li>
			
     </ul>

    </div>
<div id="discover-map">
 {% include "Module/walkthrough.html" %}
<div id="map">
</div>
<div id="map-pagination">
<a href="#" id="page-right" onclick="; return false;" class="enabled">Next 20</a>
<a href="#" id="page-left" onclick="; return false;" class="">Previous 20</a>
<div class="clearfix" id="map-sorts">
<a class="first on" href="#" id="map-sort-best" onclick="FSMap.update_sort('hottest'); return false;">Hottest</a>
<a href="#" id="map-sort-latest" onclick="FSMap.update_sort('latest'); return false;" class="">Latest</a>
<a href="#" id="map-sort-ended" onclick="FSMap.update_filter('mytrip'); return false;" class="">My Trip</a>
<a class="last" href="#" id="map-sort-guides" onclick="FSMap.update_filter('guides'); return false;">Guides</a>
</div>
</div>
</div>



<div id="container" class="clearfix">
<div class="clearfix" id="content">

<div id="discover-bar">
<div class="hgroup clearfix">

<h1 id="list-view-title">Tell us <strong>when</strong> and <strong>where</strong> you plan to go</h1>
</div>
</div>


<div class="sidebar right">
<div id="sidebar-home">
<div id="sidebar_find_friends">
<a href="#" name="find_friends" value="Find Friends" type="button" class="fancy left">
	<h2>Find Friends</h2>
</a>
<img alt="members" class="find_friends_icon left" src="{{ static_url("images/people.png") }}">
</div>
<div style="clear:both"></div>
<div>
<a href="/guides" type="button" class="fancy left">
<h2>Popular Guides</h2>
</a>
<div style="clear:both"></div>
<ul class="profile-guides-list">	
{% for guide in guides %}	
<li class="clearfix first guide">
<div class="guide-stats" style="font-size:1.1em">
<a href="/guide/{{guide['slug']}}">{{guide['title']}}</a>
<div class="guide-standings">
{{guide['rating']}} people like
</div>
</div>
</li>
{% end %}

</ul>
</div>
</div>


<div id="sidebar-home">

 {% include "Module/TopSharers.html" %}

</div>

</div>

<div class="main" id="discover-list">
<ul class="list" id="db-reviews">
<li class="clearfix" id="db-following-tabs">
<ul class="bbox-tabs four" id="tabs">
<li id="newtrips-tab" class="on">
<a href="#" onclick="set_section('newtrips', '/newtrips'); return false;"><strong>Newest Trip</strong><span>Following 0</span></a>
</li>
<li id="hottrips-tab" >
<a href="#" onclick="set_section('hottrips', '/hottrips'); return false;"><strong>Hottest Trip</strong><span>Following 0</span></a>
</li>
<li id="endtrips-tab" >
<a href="#" onclick="set_section('endtrips', '/endtrips'); return false;"><strong>Ended Trip</strong><span>Following 0</span></a>
</li>
</ul>
</li>
<li id="following_items">
<ul id="latest_trip">
{% if latest_trip_ids %}
  
   {% module Template("Module/tripentry.html", latest_trip_ids = latest_trip_ids) %}
   
{% end %}
<li class="more" id="following-more">
<a href="#" onclick="$(this).update('Loading...'); new Ajax.Request('/dashboard?list=people&page=2', {asynchronous:true, evalScripts:true, method:'get'}); return false;">More...</a>
</li>

</ul>
</li>
</ul>
</div>

<div id="Pagination"></div>
<br style="clear:both;" />
		
     
 <div id="section_value" value ="newtrips" style="display:none;">
 </div>
 

{% for image in image_info %} 
<input name="image_info" value = "{{image}}" type = "hidden">
{% end %}

{% for dest in dest_places %} 
<input name="dest_places" value = "{{dest}}" type = "hidden">
{% end %}

</div>
{% include "Module/footer.html" %}
{% include "Module/CreateTripSlide1.html" %}
{% include "Module/find_friends.html" %}
<input id="social_section_value" value = "" type = "hidden">
<input id="walkthrough_section_value" value = "" type = "hidden">
<input id="initialize" value = "" type = "hidden">   
<script type="text/javascript">
//<![CDATA[
function checkform(form)
{
    if (form.username.value == "") 
	{
	  alert("Please enter username");
	   $("label#username_error").show(); 
	  form.username.focus();
	  return false;
	}

	if (form.email.value == "") 
	{
	  alert("Please enter email address");
	   $("label#email_error").show(); 
	  form.email.focus();
	  return false;
	}
	
	if (form.password.length < 6 || form.password.length >25 ) 
	{
	  alert("Please enter password longer than 6 and shorter than 25");
	   $("label#name_error").show(); 
	  form.password.focus();
	  return false;
	}
	
	
	if(!form.user[accept_terms].checked)
	{
		 alert("Please agree to the term before sign up");
		 form.user[accept_terms].focus();
		 return false;
	}
	
	return true;
}


function check_createtrip_form(form)
{

	if (form.title.value == "") 
	{
	  alert("Please enter trip title");
	  $("label#name_error").show();  
     
	  form.title.focus();
	  return false;
	}
	
	
	if (form.start.value == "")
	{
	  alert("Please enter trip start");
	   $("label#name_error").show();  
      
	  form.start.focus();
	  return false;
	}
	
	
	
	if (form.start_date.value == "") 
	{
	  alert("Please enter trip start_date");
	  form.start_date.focus();
	   $("label#name_error").show();  
       
	  return false;
	}
	
	if (form.end_date.value == "") 
	{
	  alert("Please enter trip end_date");
	   $("label#name_error").show(); 
	  form.end_date.focus();
	  return false;
	}
	
	return true;
}

function check_createguide_form(form)
{

	if (form.title.value == "") 
	{
	  alert("Please enter trip title");
	  $("label#name_error").show();  
     
	  form.title.focus();
	  return false;
	}

	return true;
}
</script>


<script type="text/javascript">
function set_section(section, _url) {
	    var trips = null;
		$("#section_value").val(section);
        $('#tabs > .on').removeClass('on');
        $('#'+section + '-tab').addClass('on');
		var content = {'_xsrf':getCookie("_xsrf"), 'section':section,'type':'click'};
		$.postJSON(_url, content, function(response) {
        
		var History = window.History;
                if ( History.enabled ) {
				History.pushState({state:section}, null, _url);
				}
		ShowTrip(response); 
        }); 
        }
	  
function ShowTrip(message) {
		if(message!=null)
		{
		var node;
		var trips = message.split("||||");
		$("#latest_trip").empty();
		
		$.each(trips, function(index, value) {
	         node = $(value);
            // node.hide();
		     
             $("#latest_trip").append(node);
             //node.show();
			 
         });	
		 }
    }
	
function set_social_section(section) {
	    
		var value = $("#social_section_value").val();
		if (value=="")
		{
			value = "facebook";
		}
        $('.social_list > .on').removeClass('on');
        $('.'+section + '-tab').addClass('on');
		$('#content_'+value).hide();
		$('#login_'+value).hide();
		$('#login_'+section).show();
		$('#content_'+section).show();
		$("#social_section_value").val(section);
        }
		
function set_walkthrough_section(section) {
	    
		var value = $("#walkthrough_section_value").val();
		var initialize_value = $("#initialize").val();
		if (value=="")
		{
			value = "walkthrough";
		}
        $('.GuideTabList > .on').removeClass('on');
        $('.'+section + '_tab').addClass('on');
		
		$('.'+value).hide();
		if(section=='map')
		{
		if(initialize_value == '')
		{
		initialize();
		$("#initialize").val('initialize');
		}
		$('#map').show();
		$('#map-pagination').show();
		}
		else
		{
		$('#map-pagination').hide();	
		$('#map').hide();
		$('.'+section).show();
		}
		
		$("#walkthrough_section_value").val(section);
        }
</script>

<script type='text/javascript'>
	 //Get the screen height and width  
        var maskHeight = $(document).height();  
        var maskWidth = $(window).width();  
		
	 //Get the window height and width  
        var winH = $(window).height();  
        var winW = $(window).width();  
	
	$('a[name=find_friends]').click(function(e) {  
      e.preventDefault();  
	  $('#social-close-modal').show()
        var id = '#social_tools';  
       
        $('#mask4').css({'width':maskWidth,'height':maskHeight});  
        $('#mask4').fadeIn();             
		$(id).show();
		$(id).css({right: $(id).width()-winW, top: winH / 2 - $(id).height() / 2});
	    $(id).animate({right: winW/2-$(id).width()/2});
        $(id).css("position", "fixed");
		set_social_section('facebook');
 });
 
   //if close button is clicked  
    $("#social-close-modal").click(function (e) {  
        //Cancel the link behavior  
        e.preventDefault();  
        $('#mask4').hide();  
		$('#social_tools').hide();
		 $("#social-close-modal").hide();
		//document.getElementById('find_friends_form').reset();
		
    }); 

</script>

<script>
			(function(window,undefined){


				// Establish Variables
				var
					History = window.History, // Note: We are using a capital H instead of a lower h
					State = History.getState();

				// Bind to State Change
				   History.Adapter.bind(window,'statechange',function(){ // Note: We are using statechange instead of popstate
					// Log the State
					var State = History.getState(); // Note: We are using History.getState() instead of event.state
				    

					
				});
				})(window);
</script>	

<script type='text/javascript'>
  $(function() {
    Timezone.set();
  });
</script>	
</body> 

</html> 