
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html lang='en' xml:lang='en' xmlns:addthis='http://www.addthis.com/help/api-spec' xmlns='http://www.w3.org/1999/xhtml'> 
<head> 
<title> 
TripShare
|	
Setting
</title> 
<meta content='text/html; charset=utf-8' http-equiv='Content-Type' /> 
<meta content="TripShare is the easiest way to  help you to find the right trip and people." name='description' /> 
<meta content='trips, travel, trail, reviews, camping, local' name='keywords' /> 

<link rel="stylesheet" href="{{ static_url("stylesheets/base_packaged.css") }}" type="text/css" media="screen"/>  
<link rel="stylesheet" href="{{ static_url("stylesheets/nano.css") }}" type="text/css"/> 
<script type="text/javascript" src="{{ static_url("javascript/js/jquery-1.4.4.min.js") }}"></script>
<script type="text/javascript" src="{{ static_url("javascript/js/jquery-ui-1.8.7.custom.min.js") }}"></script>
<script src="{{ static_url("javascript/followuser.js") }}" type="text/javascript"></script>
<script src="{{ static_url("javascript/updateusersetting.js") }}" type="text/javascript"></script>
<script src="{{ static_url("javascript/loginpopup.js") }}" type="text/javascript"></script>


</head> 
<body> 

<div id="header"> 
<div id="nav-bar"  >
 {% include "Module/headline.html" %}
 {% include "Module/usersetting.html" %}
<div class='clearfix' id='container'> 
<a href="#" id="back_to_map" onclick="FS.hide_back_to_map();; return false;" style="display:none">Take me Back To The Map!</a> 
<div class='clearfix' id='content'> 


{% include "Module/self_detail.html" %}
 
<div class='main'> 
<h1>Settings</h1>
{% if current_user %}
<div id="user_settingboxes"> 
<div id="setting" class="settingdialogdiv">

<form id="usersettingform">
<table class="form">
<tbody>
<tr>
<td class="label">Username:</td>
<td><input name="nickname" type="text" size="20" value="{{current_user['username']}}" class="textbox" style="width:310px"></td>
</tr>

<tr>
<td class="label" style="vertical-align:top">Bio:</td>
<td><textarea rows="2" cols="20" name="description" style="width:310px">{{current_user['bio']}}</textarea></td>
</tr>

<tr>
<td class="label" style="vertical-align:top">Photo:</td>
<td><input class="file-field" id="person_avatar" name="person[avatar]" type="file"></td>
</tr>

<tr>
<td class="label">Language:</td>
<td class="value">
<select name="locale">

<option value="de">Deutsch</option>

<option value="en" selected="selected">English</option>

<option value="es">Español</option>

<option value="fa">فارسی</option>

<option value="fr">Français</option>

<option value="it">Italiano</option>

<option value="ja">日本語</option>

<option value="ru">русский язык</option>

<option value="tr">Türkçe</option>

<option value="ud">uʍop ǝpısd∩</option>

<option value="zh-cn">中文(简体)</option>

</select>
</td>
</tr>

<tr>
<td class="label">Email:</td>
<td class="value">

{{current_user["email"]}} (<a href="#" class="l_emailaddresses">change</a>)

</td>
</tr>
<tr>
<td class="label">Password:</td>
<td class="value"><a href="#" class="l_changepassword">Change password</a></td>
</tr>


<tr>
<td class="label">Notifications:</td>
<td class="value"><a href="/settings/notifications">Email / IM preferences</a></td>
</tr>


<tr>
<td class="label" style="vertical-align: top;">Theme:</td>
<td class="value">
<table>
<tbody><tr>
<td colspan="2">
<div>
<a href="/settings/themes">Choose a theme</a>
</div>
</td>
</tr>
<tr>
<td style="padding-bottom: 0;">

<a href="/settings/themes"><img style="width: 100px; height: 100px; border: 1px solid #0000cc" src="/static/images/themes/default/preview.png?v=317f" alt="Classic"></a>
</td>
<td style="vertical-align: top;">
<div>
<input type="checkbox" name="public_theme" id="public_theme" value="1" checked="checked">
<label for="public_theme">Theme your profile page</label>
</div>
<div>
<input type="checkbox" name="use_profile_themes" id="use_profile_themes" value="1" checked="checked">
<label for="use_profile_themes">See other people's themes</label>
</div>
</td>
</tr>
</tbody></table>
</td>
</tr>


<tr>
<td></td>
<td class="value">
<table>
<tbody><tr>
<td style="vertical-align:top; padding-bottom:0"><input type="checkbox" name="private" value="1" id="publiccheckbox">&nbsp;</td>
<td style="padding-bottom:0">
<div><label for="publiccheckbox">Private feed</label></div>
<div style="font-size:8pt" class="g"><label for="publiccheckbox">Only let people I approve see my feed</label></div>
</td>
</tr>
</tbody></table>
</td>
</tr>

<tr>
<td></td>
<td>
<input type="submit" value="Update" class="updateusersetting sidebar-auth-button">

</td>
</tr>
</tbody></table>
</form>
</div>
</div>
{% end %}

</div> 
 
</div> 
 
</div> 
</div> 
  {% include "Module/footer.html" %}
</body> 
 
</html> 