
<div class="trip_route" style="width:45% ; float:left; padding-left:20px">
{% if singletrip %}

<ul class="route left" style="width:100%">
{% for site in singletrip['dest_place'] %} 
<li class="show_site" style="height:100px">
<div class="site-details left" style="width:80% ;padding:5px">

 
  <div class="site-bar" >
  <img class="picture small"  src="{{ static_url("icon/site_icon2.png") }}">
  <h2><a href="/sights/{{site['dest']}}">
    <span class="trip_sights">{{site['dest']}} </span>
  </a>
  
    <input onfocus="showCalendarControl(this);" class="trip_date" value="{{site['date']}}">
	</h2>
 </div>
  <p>{{site['description']}}</p>
<div class="action-bar">
<div class="actions">
<div class="site_action">

{% if not current_user %}
<input type ="button" value="Import" href="#login">
<a href="#login" >like this</a> \ 
<a href="#login" >save this</a>
{% else %}
{% if site['dest'] in  current_user['like_site'] %}
<input type ="button" class="like_site action" value="unlike" actiontype="like" targettype="site">
{% else %}
<input type ="button" class="like_site action" value="like" actiontype="like" targettype="site">
{% end %}
\
{% if site['dest'] in  current_user['save_site'] %}
<input type="button" class="save_site action" value="remove" actiontype="save" targettype="site">
{% else %}
<input type="button" class="save_site action" value="save" actiontype="save" targettype="site">
{% end %}
{% end %}

</div>
</div>
</div>
</div>
<div class="trip_site_move" style="padding:5px">
<a class="trip_site_move_up"  href="#"><img src="/static/images/move_stop_up_16px.png" width="24" height="24"></a><a class="trip_site_move_down" href="#" ><img src="/static/images/move_stop_down_16px.png" width="24" height="24"></a><a class="trip_site_remove" href="#"><img src="/static/images/delete_stop_16px.png" width="24" height="24"></a>
</div>
</li>
{% end %}
</ul>

<input class="trip_site_add" type="button">

{% end %}
</div>
